.background-video {
    position: absolute;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    // min-height: 100vh;
    // height: 100vh;
    height: -webkit-fill-available;

    opacity: 1;
    top: 0;
    object-position: top;
    object-fit: cover;
    z-index: -1; // ✅ Permet de placer la vidéo en fond derrière tout
  
    filter: blur(5px);
    opacity: 0.01; // Evite blocage auto-play navigateurs
    animation: video-fade-in 3s 0s ease forwards;
  }
  @keyframes video-fade-in {
    0% {
      filter: blur(5px);
      opacity: 0.01; // Evite blocage auto-play navigateurs
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }


  .trompe-loeil {
    position: absolute;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    opacity: 1;
    top: 102px; // Fix le décalage 
    z-index: -2; // en dessous de la vidéo

    opacity: 0;
    animation: trompe-loeil-fadeIn 3s 0s ease forwards
  }
  @keyframes trompe-loeil-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  