// Pour même flux de rendu et appliquer backdrop-filter
:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.background-video {
  position: absolute;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  // min-height: 100vh;
  // height: 100vh;
  height: -webkit-fill-available;

  opacity: 1;
  top: 0;
  object-position: top;
  object-fit: cover;
  z-index: -1; // ✅ Permet de placer la vidéo en fond derrière tout

  filter: blur(5px);
  opacity: 0.01; // Evite blocage auto-play navigateurs
  animation: video-fade-in 3s 0s ease forwards;
}
@keyframes video-fade-in {
  0% {
    filter: blur(5px);
    opacity: 0.01; // Evite blocage auto-play navigateurs
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

// Commun à l'img statique light-theme et à l'img dark-theme
.dark-theme-aquarium-et-wp-container {
  position: absolute;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  height: -webkit-fill-available;

  top: 0;
  object-position: top;
  object-fit: cover;

  z-index: -1;
}

.background-img {
    // Object-position décalé quand on nav
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: blur(4px) brightness(0.3) hue-rotate(5deg);
    opacity: 0;
    animation: image-fade-in 2s ease forwards, hueRotate 10s 2s ease infinite;
}
@keyframes image-fade-in {
    from {
        filter: blur(4px) brightness(0.3) hue-rotate(5deg);
        opacity: 0;
    }
    to {
        filter: blur(0px) brightness(0.3) hue-rotate(5deg);
        opacity: 1;
    }
}
@keyframes hueRotate {
    0% {
        filter: blur(0px) brightness(0.3) hue-rotate(5deg);
    }
    50% {
        filter: blur(0px) brightness(0.3) hue-rotate(-15deg);
    }
    100% {
        filter: blur(0px) brightness(0.3) hue-rotate(5deg);
    }
}


// Dark-theme rayons haut-gauche
.sun-ray-1 {
    position: absolute;
    top: 10%;
    left: -2%;
    transform: translate(-50%, -50%) rotate(34deg);
    width: 300px;
    height: 200vh; 

    background: linear-gradient(
        to right,
        rgba(255, 255, 100, 0) 0%,
        rgba(255, 218, 110, 0.3) 50%,
        rgba(255, 255, 100, 0) 100%
    );
    filter: blur(4px); /* Flou pour plus de réalisme */
    opacity: 0.5;
}

// Rayon unique qui pop au chargement avec un petit délai
.sun-ray-2 {
    position: absolute;
    width: 300px;
    height: 200vh;
    background: linear-gradient(
        to right, rgba(255, 255, 100, 0) 0%, 
        rgba(255, 218, 110, 0.3) 15%, 
        rgba(255, 255, 100, 0) 100%
    );
    filter: blur(4px);

    opacity: 0; // Régler cette opacité et pas celle de la couleur 
    top: 80%;
    left: 71%;
    transform: translate(-50%, -50%) rotate(20deg);
    animation: 
        sun-ray-2-rotateIn 5s 1.5s  ease forwards, // ptit délai initial pour que le rayon pop un peu après les fadeIn
        sun-ray-2-infiniteGlow 15s 6.5s ease infinite; 
}
@keyframes sun-ray-2-rotateIn {
    0% {
        opacity: 0;
        top: 80%;
        left: 71%;
        transform: translate(-50%, -50%) rotate(20deg);
    }
    100% {
        opacity: 0.4; // Régler cette opacité et pas celle de la couleur 
        top: 6%;
        left: 1%;
        transform: translate(-50%, -50%) rotate(33deg);
    }
}
@keyframes sun-ray-2-infiniteGlow {
    0% {
        opacity: 0.4;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0.4;
    }
}






// AQUARIUM DARK THEME:
// géré dans le VideoComponent onInit grace aux 2 états (previous et next) dans le CustomizationService
.fadeOutAquarium {
  animation: fadeOut 2s ease forwards;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.aquarium {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

// Poisson basique 
.fish-1 {
  top: 3%;
  position: absolute;
  offset-path: path("M -79 5 C 159 113 593 -33 1089 80");
  offset-rotate: auto;
  
  animation: fish-1-move 8500ms 1500ms infinite ease;
  width: 40px;
  height: 32px;
  z-index: 2;

  content:url("/assets/images/fishes/poisson-1.png");
  opacity: 0;
  transform: rotateY(180deg);

  filter:invert(0%);
}
@keyframes fish-1-move {
  0% {
      offset-distance: 0%;
      opacity: 0;
      transform: rotateY(180deg);
      filter:invert(0%);   
  }
  11% {
      opacity: 0.9;
      transform: rotateY(140deg);
      filter:invert(5%);
  }
  22% {
      opacity: 0.3;
      transform: rotateY(180deg);
      filter:invert(0%);
  }
  33% {
      opacity: 0.9;
      transform: rotateY(210deg);
      filter:invert(5%);
  }
  44% {
      opacity: 0.3;
      transform: rotateY(180deg);
      filter:invert(0%);
  }
  55% {
      opacity: 0.9;
      transform: rotateY(140deg);
      filter:invert(5%);
  }
  66% {
      opacity: 0.3;
      transform: rotateY(180deg);
      filter:invert(0%);
  }
  77% {
      opacity: 0.9;
      transform: rotateY(210deg);
      filter:invert(5%);
  }
  88% {
      opacity: 0.3;
      transform: rotateY(180deg);
      filter:invert(0%);
  }
  100% {
      opacity: 0;
      offset-distance: 100%;
      transform: rotateY(140deg);
      filter:invert(5%);

  }
}

/* Raie manta */
.raie-manta {
  offset-path: path("M 248 -160 C -58 378 289 368 30 872");
  offset-rotate: auto;

  position: fixed;

  top: -5%;
  z-index: 2;

  animation: raie-manta-move 18000ms 2000ms infinite linear;
  width: 120px;
  height: 120px;

  /* background: cyan; */
  content:url("/assets/images/fishes/raie-manta.png");
  opacity: 0;
  transform: rotateZ(270deg);
}
@keyframes raie-manta-move {
  0% {
      offset-distance: 0%;
      opacity: 0;
  }
  5% {
      opacity: 1;
  }
  95% {
      opacity: 1;
  }
  100% {
      opacity: 0.1;
      offset-distance: 100%;
  }
}
  

// Jellyfishes
// Le parent (1) est bien fait il augmente le offset-distance que quand l'image s'étire (effet BlopBlop)
.jellyfish-1 {
  offset-path: path("M -76 920 C 189 703 321 105 580 -22");
  offset-rotate: auto;
  position: fixed;

  /* C'est à cause du top:5% que le path svg commence en haut */
  top: -5%;
  z-index: 2;

  animation: jellyfish-1-move 30000ms 1000ms infinite cubic-bezier(0.52, 0.23, 0.34, 0.72);
  width: 65px;
  /* height: 65px; */

  content:url("/assets/images/fishes/jellyfish.png");
  transform: rotateZ(75deg);
}
.jellyfish-2 {
  opacity: 0.9;
  offset-path: path("M -76 920 C 189 703 207 72 434 -45");
  offset-rotate: auto;
  position: fixed;

  /* C'est à cause du top:5% que le path svg commence en haut */
  top: 3%;
  z-index: 2;

  animation: jellyfish-2-move 30000ms 1000ms infinite cubic-bezier(0.52, 0.23, 0.34, 0.72);
  width: 55px;
  height: 80px;

  content:url("/assets/images/fishes/jellyfish.png");
  transform: rotateZ(75deg);
}
.jellyfish-3 {
  opacity: 0.9;
  offset-path: path("M -66 669 C 164 477 134 100 275 -53");
  offset-rotate: auto;
  position: fixed;

  /* C'est à cause du top:5% que le path svg commence en haut */
  top: 3%;
  z-index: 2;

  animation: jellyfish-2-move 31000ms 1050ms infinite cubic-bezier(0.52, 0.23, 0.34, 0.72);
  width: 55px;
  height: 80px;

  content:url("/assets/images/fishes/jellyfish.png");
  transform: rotateZ(75deg);
}
// Le parent (1) est bien fait il augmente le offset-distance que quand l'image s'étire (effet BlopBlop)
@keyframes jellyfish-1-move {
  0% {
      offset-distance: 0%;
      opacity: 0;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;
  }
  5% {
      offset-distance: 5%;

      transform: rotateZ(75deg);
      width: 90px;
      height: 45px;
  }
  11% {
      /* offset-distance: 11%; */

      opacity: 0.5;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;

  }
  16% {
      offset-distance: 16%;

      transform: rotateZ(75deg);
      width: 90px;
      height: 45px;

  }
  22% {
      /* offset-distance: 22%; */

      opacity: 0.4;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;

  }
  27% {
      offset-distance: 27%;

      transform: rotateZ(75deg);
      width: 90px;
      height: 45px;

  }
  33% {
      /* offset-distance: 33%; */

      opacity: 0.5;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;


  }
  38% {
      offset-distance: 38%;

      transform: rotateZ(75deg);
      width: 90px;
      height: 45px;

  }
  44% {
      /* offset-distance: 44%; */

      opacity: 0.4;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;


  }
  49% {
      offset-distance: 49%;

      transform: rotateZ(75deg);
      width: 90px;
      height: 45px;

  }
  55% {
      /* offset-distance: 55%; */

      opacity: 0.5;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;


  }
  60% {
      offset-distance: 60%;

      transform: rotateZ(75deg);
      width: 90px;
      height: 45px;

  }
  66% {
      /* offset-distance: 66%; */

      opacity: 0.4;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;

  }
  71% {
      offset-distance: 71%;

      transform: rotateZ(75deg);
      width: 90px;
      height: 45px;

  }
  77% {
      /* offset-distance: 77%; */

      opacity: 0.5;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;

  }
  82% {
      offset-distance: 82%;

      transform: rotateZ(75deg);
      width: 90px;
      height: 45px;

  }
  88% {
      /* offset-distance: 88%; */

      opacity: 0.4;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;

  }
  93% {
      offset-distance: 93%;

      transform: rotateZ(75deg);
      width: 90px;
      height: 45px;

  }
  100% {
      opacity: 0.2;
      transform: rotateZ(75deg);
      width: 55px;
      height: 80px;

      offset-distance: 100%;
  }
}
/* 55 80, 90 45 */
@keyframes jellyfish-2-move {
  0% {
      offset-distance: 0%;
      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  3% {
      offset-distance: 3%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  6% {
      /* offset-distance: 6%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  9% {
      offset-distance: 9%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  12% {
      /* offset-distance: 12%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  15% {
      offset-distance: 15%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  18% {
      /* offset-distance: 18%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  21% {
      offset-distance: 21%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  24% {
      /* offset-distance: 24%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  27% {
      offset-distance: 27%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  30% {
      /* offset-distance: 30%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  33% {
      offset-distance: 33%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  36% {
      /* offset-distance: 36%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  39% {
      offset-distance: 39%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  42% {
      /* offset-distance: 42%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  45% {
      offset-distance: 45%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  48% {
      /* offset-distance: 48%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  51% {
      offset-distance: 51%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  54% {
      /* offset-distance: 54%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  57% {
      offset-distance: 57%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  60% {
      /* offset-distance: 60%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  63% {
      offset-distance: 63%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  66% {
      /* offset-distance: 66%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  69% {
      offset-distance: 69%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  72% {
      /* offset-distance: 72%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  75% {
      offset-distance: 75%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  78% {
      /* offset-distance: 78%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  81% {
      offset-distance: 81%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  84% {
      /* offset-distance: 84%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  87% {
      offset-distance: 87%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  90% {
      /* offset-distance: 90%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  93% {
      offset-distance: 93%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  96% {
      /* offset-distance: 96%; */

      transform: rotateZ(75deg);
      width: 25px;
      height: 50px;
  }
  99% {
      offset-distance: 99%;

      transform: rotateZ(75deg);
      width: 60px;
      height: 25px;
  }
  100% {
      offset-distance: 100%;

      transform: rotateZ(75deg);
      width: 20px;
      height: 25px;
  }
}



/* WhaleShark */
.whaleshark {
  /* offset-path: path("M -65 176 A 1 1 0 0 0 -88 -451"); */
  /* offset-path: path("M -283 488 C 342 153 217 -360 -205 -555"); */
  
  offset-rotate: auto;
  position: fixed;

  top: 70%;
  offset-path: path("M -270 -108 C 100 349 557 46 527 -124");

  z-index: 1;

  animation: whaleshark-move 30000ms 5s infinite linear;
  width: 600px;
  height: 600px;

  content:url("/assets/images/fishes/whaleshark.png");
  opacity: 0;
  transform: rotateZ(98deg);
}
@keyframes whaleshark-move {
  0% {
      offset-distance: 0%;
      opacity: 0;
  }
  11% {
      opacity: 0.75;
  }
  22% {
      opacity: 0.7;
  }
  33% {
      opacity: 0.75;
  }
  44% {
      opacity: 0.7;
  }
  55% {
      opacity: 0.75;
  }
  66% {
      opacity: 0.7;
  }
  77% {
      opacity: 0.75;
  }
  88% {
      opacity: 0.7;
  }
  100% {
      opacity: 0.5;
      offset-distance: 100%;
  }
}



/*  Tortue */
.tortoise {
    filter: blur(5px);
    offset-path: path("M 866 595 C 524 494 155 241 -188 29");
    offset-rotate: auto;

    position: fixed;

    top: -5%;
    z-index: 1;

    animation: tortoise-move 13500ms 2000ms infinite ease-in;
    width: 0px;
    height: 0px;

    content:url("/assets/images/fishes/tortoise.png");
    opacity: 0;
    transform: rotateZ(178deg);

}
@keyframes tortoise-move {
    0% {
        offset-distance: 0%;
        opacity: 0;
        filter: blur(7px);
        width: 0px;
        height: 0px;

    }
    10% {
        opacity: 0.4;
    }
    90% {
        filter: blur(0px);
        opacity: 0.7;
    }
    100% {
        offset-distance: 100%;
        opacity: 0.8;
        filter: blur(0px);
        width: 200px;
        height: 200px;

    }
}




/* Espadons avec intervals */
.swordfish-1 {
    /* https://yqnn.github.io/svg-path-editor/ */
    /* From droite to gauche, trait */
    /* offset-path: path("M 802 -40 C 430 65 98 182 -159 297"); */
    offset-path: path("M 1323 383 C 960 461 377 333 -302 -201");
    
    offset-rotate: auto;

    position: fixed;

    top: 10%;
    z-index: 1;

    /* animation: swordfish-move 1300ms 3000ms 1 linear; */
    animation: swordfish-move 3850ms 1 cubic-bezier(1,.66,.51,.98);

    width: 172px;
    height: 90px;

    content:url("/assets/images/fishes/swordfish.png");
    opacity: 0;
    transform: rotateZ(172deg);

    filter: invert(0%) blur(0px);
}
.swordfish-2 {
    /* https://yqnn.github.io/svg-path-editor/ */
    /* From droite to gauche, trait */
    /* offset-path: path("M 802 -40 C 430 65 98 182 -159 297"); */
    offset-path: path("M 1323 383 C 696 580 524 136 -302 -201");
    
    offset-rotate: auto;

    position: fixed;

    top: 10%;
    z-index: 1;

    /* animation: swordfish-move 1300ms 3000ms 1 linear; */
    animation: swordfish-move 3850ms 420ms 1 cubic-bezier(1,.66,.51,.98);

    width: 150px;
    height: 90px;

    content:url("/assets/images/fishes/swordfish.png");
    opacity: 0;
    transform: rotateZ(172deg);

    filter: invert(0%) blur(0px);
}
.swordfish-3 {
    /* https://yqnn.github.io/svg-path-editor/ */
    /* From droite to gauche, trait */
    /* offset-path: path("M 802 -40 C 430 65 98 182 -159 297"); */
    offset-path: path("M 1323 383 C 840 327 722 12 -492 -110");
    
    offset-rotate: auto;

    position: fixed;

    top: 10%;
    z-index: 1;

    /* animation: swordfish-move 1300ms 3000ms 1 linear; */
    animation: swordfish-move 3850ms 250ms 1 cubic-bezier(1,.66,.51,.98);

    width: 129px;
    height: 60px;

    content:url("/assets/images/fishes/swordfish.png");
    opacity: 0;
    transform: rotateZ(172deg);

    filter: invert(0%);
}
@keyframes swordfish-move {
    0% {
        offset-distance: 0%;
        opacity: 0;
        filter: invert(0%);
    }
    20% {
        opacity: 0.7;
        filter: invert(0%);
    }
    30% {
        opacity: 0.5;
        filter: invert(22%);
    }
    40% {
        opacity: 0.7;
        filter: invert(0%);
    }
    50% {
        opacity: 0.5;
        filter: invert(22%);
    }
    60% {
        opacity: 0.7;
        filter: invert(0%);
    } 
    70% {
        opacity: 0.5;
        filter: invert(22%);
    }
    80% {
        opacity: 0.7;
        filter: invert(0%);
    }
    100% {
        opacity: 0;
        filter: invert(22%);
        offset-distance: 100%;
    }
}
