.pageContent { 
    overflow: hidden;
}

.divelog-lottie-title-container {
    display: inline-flex;
    min-width: 100%;
    gap: 15px;

    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 8px; 
    padding: 8px 0px 5px 0px;
}

mat-divider {
    width: 85%;
    background-color: var(--primary-color);
    filter: opacity(0.7);
}

.divelog-title-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 10px;

    .divelog-title {
        font-family: "Dancing Script", cursive;
        font-size: 1.7rem;
        text-shadow: 0px 0px 5px black;

        position: relative;
        bottom: 5px; // déclalage du au viewbox/crop du lottie
    }
}


:host ::ng-deep .divelog-lottie-container {
  min-height: 79px; // fix taille initiale avant chargement 
  width: 55px; // taille du lottie carnet
  margin-left: 10px; // pour centrer la ligne
  transform: rotate(355deg); 
}
:host ::ng-deep .divelog-lottie-container svg {
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.3));
}


// COLORS du loader Lottie:
:host ::ng-deep .loading-divelog-lottie-container svg g path {
    fill: var(--primary-color) !important;
    stroke: var(--primary-color) !important;
}

// COLORS du carnet Lottie (un > g en plus pour le "trimmed" du SVG):
:host ::ng-deep .divelog-lottie-container
  svg > g:first-of-type > g:first-of-type > g:first-of-type > g:nth-of-type(2) path,
:host ::ng-deep .divelog-lottie-container
  svg > g:first-of-type > g:first-of-type > g:first-of-type > g:nth-of-type(4) path
{
  fill: var(--primary-color) !important;
}
:host ::ng-deep .divelog-lottie-container
  svg > g:first-of-type > g:first-of-type > g:first-of-type > g:nth-of-type(1) path,
:host ::ng-deep .divelog-lottie-container
  svg > g:first-of-type > g:first-of-type > g:first-of-type > g:nth-of-type(3) path,
  :host ::ng-deep .divelog-lottie-container
  svg > g:first-of-type > g:first-of-type > g:first-of-type > g:nth-of-type(5) path,
:host ::ng-deep .divelog-lottie-container
  svg > g:first-of-type > g:first-of-type > g:first-of-type > g:nth-of-type(6) path,
  :host ::ng-deep .divelog-lottie-container
  svg > g:first-of-type > g:first-of-type > g:first-of-type > g:nth-of-type(7) path,
:host ::ng-deep .divelog-lottie-container
  svg > g:first-of-type > g:first-of-type > g:first-of-type > g:nth-of-type(8) path,
:host ::ng-deep .divelog-lottie-container
  svg > g:first-of-type > g:first-of-type > g:first-of-type > g:nth-of-type(9) path
{
    fill: rgba(0, 46, 95, 1) !important;
}


.empty-list {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: 5px auto;
    padding: 15px 20px;
    border-radius: 5px;
    color: rgb(255 255 255 / 75%);
    font-size: 0.9em;
}