<div class="pageContent">

    <ng-container *ngIf="parent.divelog as divelog; else loading">
        <div class="divelog-lottie-title-container" [class.fadeOutNav]="isAnimatingFadeOut">
            <div class="divelog-lottie-container">
                <ng-lottie [options]="optionsCarnet" (animationCreated)="animationCarnetCreated($event)" /> 
            </div>
            <div class="divelog-title-wrapper">
                <span class="divelog-title">{{ divelog.title }}</span>
            </div>
        </div>
    </ng-container>

    <ng-template #loading>
        <div #lottieLoadingWrapper class="loading-divelog-lottie-container" [@fadeOutNav]="isAnimatingFadeOut">
            <ng-lottie [options]="optionsLoader" (animationCreated)="animationLoaderCreated($event)" /> 
        </div>
    </ng-template>



</div>