<div class="pageContent">

    <ng-container *ngIf="divelog as divelog; else loading">

        <div class="divelog-lottie-title-container" [class.fadeOutNav]="isAnimatingFadeOut">
            <div class="divelog-lottie-container">
                <ng-lottie [options]="optionsCarnet" (animationCreated)="animationCarnetCreated($event)" /> 
            </div>
            <div class="divelog-title-wrapper">
                <span class="divelog-title">{{ divelog.title }}</span>
            </div>
        </div>

        <mat-divider [class.fadeOutNav]="isAnimatingFadeOut"></mat-divider>

        <!-- bouton d'ajout de Dive -->
        <button 
            mat-flat-button 
            color="primary"
            class="cta-btn-primary bigButton" 
            [routerLink]="['dive-form']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            [disabled]="!divelog.id"
            [class.fadeOutNav]="isAnimatingFadeOut"
        >
            <mat-icon>add</mat-icon>
            <span>{{ "ADD_DIVE" | translate }}</span>
        </button>

        <!-- // Meme UI que certificats ? -->
        <!-- + Pagination -->
        <div *ngIf="divelogDives" [class.fadeOutNav]="isAnimatingFadeOut">

        </div>

        

    </ng-container>

    <ng-template #loading>
        <div #lottieLoadingWrapper class="loading-divelog-lottie-container" [class.fadeOutNav]="isAnimatingFadeOut">
            <ng-lottie [options]="optionsLoader" /> 
        </div>
    </ng-template>

</div>