.social-page-content {
    width: 100%;
}


.friend-status-container {
    margin: 15px auto 5px auto;
    display: inline-flex;
    width: 100%;
}
.friend-request-btn {
    height: 55px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-shadow: 0px 0px 1px black;

    mat-icon {
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        margin: 0;
        color: var(--green);
    }
}

.friend-status-accepted-wrapper {
    display: inline-flex;
    width: 100%;
    gap: 8px;

    .friend-status-accepted {
        flex: 1;
        background-color: var(--element-bg-color) !important;
        border: 1px solid var(--primary-color);
        border-radius: 6px;
        height: 55px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        padding: 15px;
        color: var(--green);
    }
    .friend-remove-btn {
        flex: 0;
        height: 55px;
        gap: 0px !important;
        display: inline-flex;
        align-items: center;
        text-shadow: 0px 0px 2px black;
        background-color: var(--element-bg-color) !important;
        border: 1px solid var(--red);
        border-radius: 6px;
        mat-icon {
            color: var(--red);
            font-size: 1.5rem;
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

.friend-status-pending-container {
    background-color: var(--element-bg-color) !important;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    border-radius: 0px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding: 15px;
    color: var(--green);
}

// .friend-status-refused-container {
//     background-color: var(--element-bg-color) !important;
//     border-top: 1px solid var(--primary-color);
//     border-bottom: 1px solid var(--primary-color);
//     width: 100%;
//     border-radius: 0px;
//     height: 55px;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     gap: 9px;
//     padding: 15px;
//     color: var(--red);
// }

::ng-deep button.friend-request-btn .mdc-button__label {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
}


// Grid nav buttons:
.nav-btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;

    margin-top: 3px;
}
.home-nav-button {
    width: 100%;
    height: 85px;

    display: inline-flex;
    flex-direction: column;
}
.home-nav-button mat-icon {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    margin: 0;
    color: var(--primary-color);
}
.home-nav-button svg {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    margin: 0;
    fill: var(--primary-color);
    position: relative;
    top: 3px;
}
.home-nav-button span {
    width: 100%;
    display: block;
    padding-top: 5px;
}
.nav-btn-grid {
    margin-top: 15px;
    
    .btn-up-left {
        border-top-left-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
    }
    .btn-up-right {
        border-top-right-radius: 15px !important;
        border-bottom-left-radius: 15px !important;
    }
    .btn-bottom-left {
        border-bottom-left-radius: 15px !important;
        border-top-right-radius: 15px !important;
    }
    .btn-bottom-right {
        border-bottom-right-radius: 15px !important;
        border-top-left-radius: 15px !important;
    }
}
.middle-btn-toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 21px;
    height: 21px;
    border-radius: 1px;
    background-color: var(--primary-color);

    clip-path: path("M 0 0 Q 10 6 20 0 Q 14 10 20 20 H 20 Q 10 14 0 20 Q 6 10 0 0");
}

// Nav button désactivé selon calcul privacy: (ng-deep pour le span dans le button)
::ng-deep .home-nav-button.disabled-privacy {
    filter: grayscale(0.8);
    opacity: 0.9;
    border-bottom-width: 1px !important;

    span.mdc-button__label {
        opacity: 0.6;
    }
}

.spinner-container {
    min-height: 150px;
}
