<div class="pageContent">
    
    <app-page-header 
        title="Social" 
        matIcon="account_circle"
        class="fadeInNav"
        [class.fadeOutNav]="isAnimatingFadeOut"
    />

    <div 
        class="social-page-content" 
        class="fadeInNav" 
        [class.fadeOutNav]="isAnimatingFadeOut"
    >
        <!-- <app-user-card [user]="user" [isCurrentUser]="false"></app-user-card> -->
        <app-user-card [user$]="otherUser$"></app-user-card>
    </div>

    <div class="pageContent-bottom-nav-decal"></div>
</div>