<!-- Profil (infos, Change: avatar, banniere, change mdp, change email, ...) -->
<mat-expansion-panel class="card" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">

    <mat-expansion-panel-header class="title-button">
        <mat-panel-title>
            <mat-icon class="material-icons-outlined">manage_accounts</mat-icon>
            <span>{{ 'PROFIL_SETTINGS_TITLE' | translate }}</span>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-divider class="privacy-divider"></mat-divider>

    <div class="section-content">

        <div>
            <p>Email: {{ user!.email }}</p>
            <ng-container *ngIf="user!.pendingEmail">
                <br >
                <p>Nouvel Email (en attente): {{ user!.pendingEmail }}</p>
            </ng-container>

            <div class="email-status-container">
                <span>Email vérifié: </span>
                <mat-icon [ngClass]="user!.isVerified ? 'matIcon-green' : 'matIcon-red'">{{ user!.isVerified ? 'check_circle' : 'error'}}</mat-icon>
            </div>

            <button
                mat-raised-button
                color="primary"
                class="profil-modal-change-btn"
                (click)="openModalChangeEmailAddress()"
            >
                Changer d'adresse mail
            </button>
        

            <!-- Renvoi mail de confirmation  -->
            <div *ngIf="!user?.isVerified">

                <button 
                    *ngIf="!emailConfirmResent"
                    mat-flat-button 
                    color="primary"
                    class="profil-modal-change-btn loader-btn"
                    (click)="resendConfirmationEmail(user.email)"
                    [disabled]="emailConfirmResentLoading"
                >
                    <mat-spinner *ngIf="emailConfirmResentLoading" diameter="20"></mat-spinner>
                    <span>{{ "EMAIL_RESEND_CONFIRMATION" | translate }}</span>
                </button>

                <app-alert-banner 
                    *ngIf="emailConfirmResent"
                    maticon="task_alt" 
                    [style]="'success'" 
                    [msgAlert]="'EMAIL_CONFIRMATION_SENT' | translate: { email: user!.email }" 
                ></app-alert-banner>

            </div>

            <div>
                <button
                    mat-raised-button
                    color="primary"
                    class="profil-modal-change-btn"
                    (click)="openModalChangePassword()"
                >
                    Changer de mot de passe
                </button>
            </div>

        </div>

        <mat-divider class="profil-settings-divider"></mat-divider>

        <div>
            <button
                mat-raised-button
                color="warn"
                class="profil-modal-change-btn loader-btn"
                [disabled]="isAccountDeleting"
                (click)="openModalDeleteAccount()"
            >
                <mat-icon *ngIf="!isAccountDeleting">warning</mat-icon>
                <mat-spinner *ngIf="isAccountDeleting" diameter="20" ></mat-spinner>
                <span>&nbsp;Supprimer le compte</span>
            </button>
        </div>


        <!-- <h5>Autentification à 2 facteurs</h5> -->

        <!-- avatar
        banniere
        nbrInitialPlongées -->


    </div>

</mat-expansion-panel>