
form section {
    width: 100%;
    gap: 8px;
    display: inline-flex;
    flex-direction: column;
}
form section mat-form-field {
    width: 100%;
}

.modal-ref-content {
    
  .title-new {
    color: var(--primary-color);
    margin-right: 2px;
  }
}