<!-- Container global app -->
<main class="globalMain">

  <!-- TODO MatMenu en haut à droite pour les pages hors-co (landingPage, Login, Register, ect) -->
  <app-language-switch *ngIf="!isLoggedIn" />
  <app-theme-switch *ngIf="!isLoggedIn" />

  <!-- ngIf pour vérifier quelles routes ont/n'ont pas le composant: -->
  <app-header *ngIf="showHeader" />
  
  <router-outlet />

  <app-nav-bottom-mobile *ngIf="showNavBottomMobile && isLoggedIn" [isLoggedIn]="isLoggedIn" />
  <app-footer *ngIf="showFooter" />

</main>



