<main>

  <!-- SPINNER LOADING -->
  <ng-container *ngIf="isInitializingAuth || isInitializingVideoBg; else appContent">
    <!-- ✅ Affichage du loader -->
    <div class="loading-screen">
      <div class="loading-screen-content">
        <h1 class="loading-screen-title">Bubblebook</h1>
        <div class="spinner-container">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>

    <!-- ✅ Composant vidéo toujours affiché -->
    <app-background-video (videoLoaded)="onVideoLoaded()"></app-background-video>

    <!-- ✅ Router-outlet affiché aussi -->
    <router-outlet></router-outlet>
  </ng-container>


  <!-- FINI INITIALIZER -->
  <ng-template #appContent>
    
    <div class="globalMain">

      <div 
        *ngIf="showUxButtons" 
        [matMenuTriggerFor]="menuUxButtons"
        class="UxMenuBtn"
      >
        <mat-icon class="material-icons-outlined">settings</mat-icon>
      </div>

      <mat-menu #menuUxButtons="matMenu" class="matSubMenu">

        <app-language-switch />
        <app-theme-switch />

        <ng-container *ngIf="currentTheme$ | async as currentTheme">
          <!-- DT: poisson state btn: -->
          <button mat-button *ngIf="currentTheme === 'dark-theme'" (click)="toggleFishDisplay()" >
            <fa-icon 
              [icon]="fishIcon"
            ></fa-icon>
            <div [class]="(displayFish$ | async) ? '' : 'barredDiv'"></div>
          </button>
          <!-- LT: video state btn: -->
          <button mat-button *ngIf="currentTheme === 'light-theme'" (click)="toggleBgVideo()">
            <fa-icon 
              [icon]="(isBgVideo$ | async) ? videoIcon : videoIconSlash"
            ></fa-icon>
          </button>
        </ng-container>

      </mat-menu>


      <app-header *ngIf="showHeader" />

      <!-- ✅ Router-outlet affiché aussi -->
      <router-outlet></router-outlet>

      <!-- BG Vidéo -->
      <app-background-video (videoLoaded)="onVideoLoaded()"></app-background-video>
      
      <!-- Flash-message -->
      <app-flash-message *ngIf="flashMessage" [message]="flashMessage" [type]="flashType" [matIcon]="flashMatIcon"></app-flash-message>

      <app-nav-bottom-mobile *ngIf="showNavBottomMobile && isLoggedIn" />
    </div>
  </ng-template>

</main>
