<main>

  <!-- SPINNER LOADING -->
  <ng-container *ngIf="isInitializingAuth || isInitializingVideoBg; else appContent">
    <!-- ✅ Affichage du loader -->
    <div class="loading-screen">
      <div class="loading-screen-content">
        <h1 class="loading-screen-title">Bubblebook</h1>
        <div class="spinner-container">
          <!-- <mat-spinner></mat-spinner> -->
          <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" /> 
        </div>
      </div>
    </div>

    <!-- ✅ Composant vidéo toujours affiché -->
    <app-background (videoLoaded)="onVideoLoaded()"></app-background>

    <!-- ✅ Router-outlet affiché aussi -->
    <router-outlet></router-outlet>
  </ng-container>


  <!-- FINI INITIALIZER -->
  <ng-template #appContent>
    
    <div class="globalMain">

      <div #UxMenuWrapper class="UxMenuWrapper">
        <!-- Bouton UX -->
        <div 
          *ngIf="showUxButtons" 
          class="UxMenuBtn"
          (click)="toggleMenu()"
        >
          <mat-icon [ngClass]="{ 'rotate-icon': isMenuOpen }" class="material-icons-outlined setting-icon">settings</mat-icon>
        </div>

        <mat-divider *ngIf="isMenuOpen" class="UxMenuDivider"></mat-divider>

        <!-- Contenu du menu UX -->
        <div 
          class="matSubMenu" 
          [ngClass]="{ 'menu-opened': isMenuOpen }"
        >
          <app-language-switch />
          <app-theme-switch />
          <!-- poissons-switch -->
          <ng-container *ngIf="currentTheme$ | async as currentTheme">
            <!-- DT: poisson state btn: -->
            <button mat-button *ngIf="currentTheme === 'dark-theme'" (click)="toggleFishDisplay()" class="UxMenu-btn">
              <fa-icon 
                [icon]="fishIcon"
              ></fa-icon>
              <div [class]="(displayFish$ | async) ? '' : 'barredDiv'"></div>
            </button>
            <!-- LT: video state btn: -->
            <button mat-button *ngIf="currentTheme === 'light-theme'" (click)="toggleBgVideo()" class="UxMenu-btn">
              <fa-icon 
                [icon]="(isBgVideo$ | async) ? videoIcon : videoIconSlash"
              ></fa-icon>
            </button>
          </ng-container>
        </div>
      </div>

      <app-header *ngIf="showHeader" />

      <!-- ✅ Router-outlet affiché aussi -->
      <router-outlet></router-outlet>

      <!-- BG Vidéo -->
      <app-background (videoLoaded)="onVideoLoaded()"></app-background>
      
      <app-nav-bottom-mobile *ngIf="showNavBottomMobile && isLoggedIn" />
    </div>
  </ng-template>

</main>
