<div class="pageContent" >

  <app-page-header 
      [title]="('DIVELOGS' | translate)" 
      [matIcon]="'menu_book'"
      class="fadeInNav"
      [class.fadeOutNav]="isAnimatingFadeOut"
  />

  <div *ngIf="this.currentUser!.isVerified; else forbidden" class="" [class.fadeOutNav]="isAnimatingFadeOut">

    <!-- Bouton d'ajout -->
    <button *ngIf="!isEditMode" class="example-box certificates-btns addCertif-button" (click)="openAddDivelogModal()">
      <div class="addCertif-button-container">
          <mat-icon>add</mat-icon>
          <span>{{ "ADD_CERTIFICATE_BUTTON" | translate }}</span>
      </div>
    </button>

    <div class="divelogs-list-container">

      <!-- <liste des carnets -->
      @for (divelog of userDivelogs; track divelog.id) {
        <div class="divelog-card">
          <!-- bgImage default ou image du carnet -->
          <span>{{ divelog.title }}</span>
        </div>
      }
    </div>
        
  </div>
      
  <ng-template #forbidden>
      <app-alert-banner  
        maticon="alternate_email" 
        [style]="'warn'" 
        msgAlert="{{ 'ALERT_CONFIRM_MAIL' | translate }}" 
      ></app-alert-banner>
    </ng-template>

</div>

