
<div class="pageContent" [class.fadeOut]="isAnimatingFadeOut">

    <app-page-header *ngIf="isLoading" [title]="('CONFIRMING_EMAIL_ADDRESS' | translate)" matIcon="alternate_email" />

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div *ngIf="!isLoading && confirmSuccess">
        <div class="iconLine">
            <mat-icon>task_alt</mat-icon>
            <span>{{ "EMAIL_ADDRESS_CONFIRMED" | translate }}</span>
        </div>
        
        <br>
        <a [routerLink]="['/login']">
            <button mat-flat-button color="primary" class="cta-btn-primary">{{ "LOGIN" | translate }}</button>
        </a>
    </div>

    <div *ngIf="!isLoading && !confirmSuccess">
        <div class="iconLine">
            <mat-icon>unpublished</mat-icon>
            <span>{{ "EMAIL_ADDRESS_NOT_CONFIRMED" | translate }}</span>    
        </div>
        
        <br>
        <p>{{ "LOGIN_TO_RESEND_CONFIRMATION" | translate }}</p>
        <a [routerLink]="['/login']">
            <button mat-flat-button color="primary" class="cta-btn-primary">{{ "LOGIN" | translate }}</button>
        </a>
    </div>

</div>

