
<div class="pageContent">

    <app-page-header 
        [title]="('CONFIRMING_EMAIL_ADDRESS' | translate)" 
        matIcon="alternate_email" 
        [colorTheme]="true"
        class="fadeInNav"
        [class.fadeOutNav]="isAnimatingFadeOut"
    />

    <section *ngIf="!isLoading" [class.fadeOutNav]="isAnimatingFadeOut">

        <app-alert-banner 
            [msgAlert]="confirmSuccess ? 'EMAIL_ADDRESS_CONFIRMED' : 'EMAIL_ADDRESS_NOT_CONFIRMED' | translate" 
            [maticon]="confirmSuccess ? 'task_alt' : 'unpublished'" 
            [style]="confirmSuccess ? 'success' : 'warn'"
        ></app-alert-banner>
        
        <br>
        <p *ngIf="!confirmSuccess">{{ "LOGIN_TO_RESEND_CONFIRMATION" | translate }}</p>
        <a [routerLink]="['/login']">
            <button mat-flat-button color="primary" class="cta-btn-primary">{{ "LOGIN" | translate }}</button>
        </a>
    </section>

    <mat-spinner *ngIf="isLoading"></mat-spinner>


    <div class="pageContent-bottom-nav-decal"></div>
</div>

