
<app-header />


<div class="pageContent">

    <app-page-header *ngIf="isLoading" title="Confirmation de l'email..." matIcon="alternate_email" />
    <app-page-header *ngIf="!isLoading" title="Adresse email confirmée" matIcon="alternate_email" />

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div *ngIf="!isLoading && confirmSuccess">
        <div class="iconLine">
            <mat-icon>task_alt</mat-icon>
            <span>Email confirmé avec succès.</span>
        </div>
        
        <br>
        <a [routerLink]="['/login']">
            <button mat-flat-button class="cta-btn-primary">Login</button>
        </a>
    </div>

    <!-- TODO Check si deja vérifié ? -->
    <!-- TODO Check si lien expiré -->
    <div *ngIf="!isLoading && !confirmSuccess">
        <div class="iconLine">
            <mat-icon>unpublished</mat-icon>
            <span>Erreur lors de la confirmation de l'email ou lien expiré.</span>    
        </div>
        
        <br>
        <p>Connectez-vous pour renvoyer un lien</p>
        <a [routerLink]="['/login']">
            <button mat-flat-button class="cta-btn-primary">Login</button>
        </a>
    </div>

</div>

