

<div class="pageContent pageContent-landingPage" [class.fadeOutNav]="isAnimatingFadeOut">

    <!-- Section d'accroche principale -->
    <div class="hero-section">
        <div class="hero-header">
            <img src="/assets/images/logos/logo1.png" class="hero-logo" alt="A book with bubbles">
            <h1 class="hero-title">BubbleBook</h1>
        </div>
        
        <div class="cta-buttons">
            <div class="hero-description">
                <span>{{ 'LP_SPEECH1' | translate }}</span>
                <span class="hero-description-strong">{{ 'LP_SPEECH2' | translate }}</span>
                <span>{{ 'LP_SPEECH3' | translate }}</span>
                <!-- <p class="hero-subtitle">{{ 'LP_SPEECH' | translate }}</p> -->
            </div>
            <ul>
                <li>
                    <a 
                        mat-flat-button 
                        color="primary"
                        [routerLink]="['/register']" 
                        class="cta-btn-primary bigButton cta-register"
                    >
                        {{ 'LP_REGISTER_NOW' | translate }}
                    </a>
                </li>
                <li>
                    <a 
                        [routerLink]="['/login']" 
                        class="cta-btn-secondary btn-login"
                    >
                        {{ 'LP_LOGIN' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <!-- Section des fonctionnalités -->
    <!-- <section class="features-section">
        <h2>Fonctionalités phares :</h2>
        <div class="feature">
            <h3>Carnet de plongée numérique</h3>
            <p>Organisez vos plongées avec des informations détaillées et facilement accessibles.</p>
        </div>
        <div class="feature">
            <h3>Communauté et partage</h3>
            <p>Partagez vos aventures sous-marines avec d'autres plongeurs et découvrez leurs récits.</p>
        </div>
        <div class="feature">
            <h3>Suivi des progrès</h3>
            <p>Suivez l'évolution de vos compétences de plongée au fil du temps.</p>
        </div>
    </section> -->

    <!-- Témoignages -->
    <!-- <section class="testimonials-section">
        <blockquote>"Grâce à BubbleBook, j'ai pu organiser mes plongées et partager mes aventures avec d'autres passionnés."</blockquote>
        <p>— John Doe, plongeur passionné</p>
    </section> -->
</div>

<!-- Footer spécifique LP -->
<!-- <footer class="footer">
    <span>{{ "FOOTER_ALL_RIGHTS_RESERVED" | translate }}</span>
    <div>
      <a href="/legal">{{ "TERMS_OF_USE" | translate }}</a> 
      <span> | </span>
      <a href="/privacy">{{ "PRIVACY_POLICY" | translate }}</a>
    </div>
</footer> -->






