
<header>
  <h2>Créez un compte</h2>
  <p>Créez un compte pour commencer à explorer et remplir votre carnet de plongée</p>
</header>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Email:</mat-label>
        <input 
          matInput 
          matFormFieldControl 
          formControlName="email" 
          type="email" 
          placeholder="Enter your email"
        >
      </mat-form-field>

      <!-- Erreur pour email déjà pris (emailTaken) -->
      <div *ngIf="registerForm.get('email')?.hasError('emailTaken') && registerForm.get('email')?.touched">
        <mat-error class="formFieldError">Cet email est déjà utilisé.</mat-error>
      </div>

      <!-- Erreur pour email requis ou invalide -->
      <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
        <mat-error class="formFieldError">Email is required.</mat-error>
      </div>

      <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
        <mat-error class="formFieldError">Invalid email format.</mat-error>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Username:</mat-label>
        <input matInput matFormFieldControl formControlName="username" type="text">
      </mat-form-field>

      <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        <mat-error class="formFieldError">Username is required.</mat-error>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Password:</mat-label>
        <input matInput matFormFieldControl formControlName="password" type="password">
      </mat-form-field>

      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <mat-error>Password is required (minimum 6 characters).</mat-error>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Confirm password:</mat-label>
        <input matInput matFormFieldControl formControlName="passwordCheck" type="password">
      </mat-form-field>
      
      <div *ngIf="registerForm.get('passwordCheck')?.invalid && registerForm.get('passwordCheck')?.touched">
        <mat-error>Password confirmation is required</mat-error>
      </div>
      <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('passwordCheck')?.touched">
        <mat-error>Les mots de passe ne correspondent pas.</mat-error>
      </div>
    </div>
  
    <!-- *** 2FA par defaut à false et demandé au prochain écran en meme temps que Username et avatars -->
    <!-- <div>
      <label for="is2fa">Enable 2FA:</label>
      <input id="is2fa" formControlName="is2fa" type="checkbox" />
    </div> -->


    <!-- Submit & Spinner -->
    <button mat-flat-button class="cta-btn-primary" type="submit" [disabled]="registerForm.invalid">
      <span *ngIf="!isLoading">Register</span>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </button>

    <a [routerLink]="['/login']">
      <button mat-flat-button class="cta-btn-primary">
        Déjà un compte ?
      </button>
    </a>

  </form>


