<span>TODO: email verif (emailcatcher dev !!)</span>

<p>Diver or Club</p>
<span>Avatar (bank ou upload)</span>

<div>2FA optionnel</div>


<!-- Sécurité/vie privée -->
<!-- /// (ou mixer infos et a coté de chaque champ si oui on non public) -->

<!-- Vos infos (UserName ici, Bio, avatar, age (plutot date de naissance ici facultatif et "age" dans vie privée)), Nationalité (pareil) -->




<!-- Retour -->
<a [routerLink]="['/first-login/step-one']" routerLinkActive="router-link-active" >
    <button mat-flat-button class="cta-btn-primary">Retour</button>
</a>

<!-- Validation de Form -->
<a [routerLink]="['/user-profil']" routerLinkActive="router-link-active" >
    <button mat-flat-button class="cta-btn-primary">Suivant</button>
</a>

<a [routerLink]="['/user-profil']" routerLinkActive="router-link-active" >
    <button mat-flat-button class="cta-btn-primary">Skip</button>
</a>





