:host {
    /* Pour footer */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.firstLoginForm {
    margin: 25px auto;
}

.avatar-container {
    display: inline-flex;
}
.avatar-img {
    width: 50px;
    height: 50px;
}