<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div class="pageContent">

    <div *ngIf="!isLoading" class="card">

        <app-page-header [title]="('FIRST_LOGIN_2_PAGE_TITLE' | translate)" matIcon="account_circle" />

        <app-alert-banner msgAlert="Vous pourrez personaliser votre profil plus tard" maticon="info" [style]="'info'" ></app-alert-banner>

        <form *ngIf="firstLoginForm2" [formGroup]="firstLoginForm2" (ngSubmit)="onSubmit()" class="secondLoginForm">

            <div class="username-nationality-grid">
                <!-- // Username -->
                <mat-form-field appearance="outline" class="username-field matFieldInput">
                    <mat-label>{{ "USERNAME_LABEL" | translate }}</mat-label>
                    <input 
                        matInput 
                        formControlName="username" 
                        type="text"
                        autocomplete="username"
                    >
                </mat-form-field>

                <!-- Nationality -->
                <mat-select-country
                    [label]="'Pays'"
                    [appearance]="'outline'"
                    (onCountrySelected)="onCountrySelected($event)"
                    class="nationality-field matFieldInput"
                >
                </mat-select-country>    
                
                <!-- Erreur pour username requis ou longueur insuffisante -->
                <div class="username-error" *ngIf="firstLoginForm2.get('username')?.touched">
                    <mat-error 
                        *ngIf="firstLoginForm2.get('username')?.errors?.['required']" 
                        class="formFieldError">
                        {{ "USERNAME_REQUIRED" | translate }}
                    </mat-error>
                    <mat-error 
                        *ngIf="firstLoginForm2.get('username')?.errors?.['minlength']" 
                        class="formFieldError">
                        {{ "USERNAME_MINLENGTH" | translate }}
                    </mat-error>
                    <mat-error 
                        *ngIf="firstLoginForm2.get('username')?.errors?.['maxlength']" 
                        class="formFieldError">
                        {{ "USERNAME_MAXLENGTH" | translate }}
                    </mat-error>
                </div>
            </div>


            <!-- Avatar Selection -->
            <!-- <span>Votre avatar</span> -->
            <div class="matFieldInput scrollable-container avatar-container surface">
                <div *ngFor="let avatar of avatars" class="avatar-item" [class.selected]="avatar === selectedAvatar" (click)="selectAvatar(avatar)">
                    <img [src]="avatar" class="avatar-img" [alt]="'Avatar ' + avatar" />
                    <mat-icon class="avatar-item-check" [class.selected]="avatar === selectedAvatar">check</mat-icon>
                </div>
            </div>

            <!-- Banner Selection -->
            <!-- <span>Votre bannière</span> -->
            <div class="matFieldInput banner-container">
                <div class="banner-item selected" (click)="openBannerSelectionModal()">
                    <img [src]="selectedBanner" class="banner-img" [alt]="'Selected Banner'" />
                    <mat-icon class="banner-item-check selected">check</mat-icon>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="submit-section">
                <!-- Submit & Spinner -->
                <div class="btns-container">
                    <div>
                        <button 
                            mat-flat-button 
                            color="primary"
                            class="cta-btn-primary" 
                            type="submit" 
                            [disabled]="!firstLoginForm2.valid || isLoading"
                        >
                            <span *ngIf="!isLoading">{{ "VALIDATE" | translate }}</span>
                        </button>
                    </div>
                    <!-- SKIP -->
                    <div>
                        <a [routerLink]="['/user-profil']" routerLinkActive="router-link-active" class="cta-btn-secondary">
                            {{ "SKIP" | translate }}
                        </a>
                    </div>
                </div>
            </div>

        </form>

    </div>

    <!-- Loader/Spinner page -->
    <div class="spinner-container" *ngIf="isLoading || !firstLoginForm2">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Retour -->
    <a [routerLink]="['/first-login/step-one']" routerLinkActive="router-link-active" >
        <button mat-flat-button color="accent" class="cta-btn-primary">{{ "PREVIOUS" | translate }}</button>
    </a>

</div>




