
<header>
  <h2>Créez un compte</h2>
  <p>Créez un compte pour commencer à explorer et remplir votre carnet de plongée</p>
</header>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Adresse mail:</mat-label>
        <input 
          matInput 
          matFormFieldControl 
          formControlName="email" 
          type="email" 
          placeholder="Entrez votre adresse mail"
          autocomplete="email"
        >
      </mat-form-field>

      <!-- Loadinf check email dispo -->
      <div *ngIf="emailChecking" class="loadingLine">
        <mat-spinner [diameter]="30"></mat-spinner>
        <span>{{ emailStatusMessage }}</span>
      </div>
        <!-- Réponse check email dispo -->
      <div *ngIf="!emailChecking && emailAvailable !== null">
        <mat-error *ngIf="!emailAvailable" class="formFieldError iconLine">
          <mat-icon>unpublished</mat-icon>
          <span>{{ emailStatusMessage }}</span>
        </mat-error>
        <mat-hint *ngIf="emailAvailable" class="formFieldSuccess iconLine">
          <mat-icon>task_alt</mat-icon>
          <span>{{ emailStatusMessage }}</span>
        </mat-hint>
      </div>

      <!-- Erreur pour email déjà pris (emailTaken) -->
      <div *ngIf="registerForm.get('email')?.hasError('emailTaken') && registerForm.get('email')?.touched">
        <mat-error class="formFieldError">Cet email est déjà utilisé.</mat-error>
      </div>
      <!-- Erreur pour email requis -->
      <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
        <mat-error class="formFieldError">L'adresse mail est obligatoire.</mat-error>
      </div>
      <!-- Erreur pour email invalide -->
      <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
        <mat-error class="formFieldError">Format d'email invalide.</mat-error>
      </div>
    </div>

    <!-- // migrer vers profil (et first-connection) -->
    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Nom d'utilisateur:</mat-label>
        <input 
          matInput 
          matFormFieldControl 
          formControlName="username" 
          type="text"
          autocomplete="username"
        >
      </mat-form-field>

      <!-- Erreur pour username requis -->
      <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        <mat-error class="formFieldError">Nom d'utilisateur obligatoire.</mat-error>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Mot de passe:</mat-label>
        <input 
          matInput 
          matFormFieldControl 
          formControlName="password" 
          type="password" 
          autocomplete="new-password">
      </mat-form-field>

      <!-- Phase d'erreur généré via le passwordComplexityValidator -->
      <div *ngIf="registerForm.get('password')?.touched && passwordErrorMessage">
        <mat-error>{{ passwordErrorMessage }}</mat-error>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Confirmer le mot de passe:</mat-label>
        <input 
          matInput 
          matFormFieldControl 
          formControlName="passwordCheck" 
          type="password"
          autocomplete="new-password"
          >
      </mat-form-field>
      
      <!-- Erreur pour mdp confirm ou Mismatch -->
      <div *ngIf="registerForm.get('passwordCheck')?.invalid && registerForm.get('passwordCheck')?.touched">
        <mat-error class="formFieldError">La confirmation de mot de passe est obligatoire.</mat-error>
      </div>
      <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('passwordCheck')?.touched">
        <mat-error class="formFieldError">Les mots de passe ne correspondent pas.</mat-error>
      </div>
    </div>

    <div>
      <mat-slide-toggle formControlName="acceptTerms">J'accepte les termes et conditions d'utilisation du site.</mat-slide-toggle>

      <!-- Erreur pour conditions d'utilisation non acceptés -->
      <div *ngIf="registerForm.get('acceptTerms')?.invalid && registerForm.get('acceptTerms')?.touched">
        <mat-error class="formFieldError">Vous devez accepter les termes et conditions d'utilisation.</mat-error>
      </div>
    </div>
  
    <!-- Submit & Spinner -->
    <button mat-flat-button class="cta-btn-primary" type="submit" [disabled]="registerForm.invalid">
      <span *ngIf="!isLoading">S'inscrire</span>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </button>

    <a [routerLink]="['/login']" mat-button>
        <span class="btn-underlined">Vous possédez déjà un compte ?</span>
    </a>

  </form>


