:host {
  display: flex;
  flex-direction: column;
  width: 93%; // synchro register-page-component

  .pageContent {
    gap: 0px;
    padding: 0px;
    margin-top: 17px; // synchro login-page-component
  }

  .blurredForm {
    backdrop-filter: blur(12px);
    gap: 15px;
    animation: fadeIn 1s ease forwards;
  }
}

  .form-container {
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
  }

  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    font-size: 1em;
  }
  


  .emailCheckSuffix {
    margin-bottom: 0px;
    padding-right: 12px;
  }


  .icone-et-jauge {
    display: inline-flex;
    width: 100%;
    gap: 9px;
    margin-bottom: 0px;

    position: absolute;
    bottom: 5px;
    left: 0;
  }
  .icone-et-jauge mat-icon {
    overflow: visible;
  }

  /* Jauge complexité mot de passe: */
  .progress-bar-container {
    width: 99%;
    margin: 0 auto;
    height: 6px;
    
    background-color: #e0e0e0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    margin-bottom: 0px;
  }
  
  .progress-bar {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease, background-color 0.3s ease; /* Ajout de la transition pour l'effet fluide */
  }
  
  .progress-bar.weak {
    background-color: var(--red); /* Rouge */
  }
  
  .progress-bar.medium {
    background-color: #ffcc00; /* Jaune */
  }
  
  .progress-bar.strong {
    background-color: var(--green); /* Vert */
  }


//***  ISO login
  .toggles-container {
    font-size: 0.92em;
    margin: 12px 7px 9px 7px; // pas ISO parce que need plus d'aération

    display: inline-flex;
    flex-direction: column;
    gap: 12px;
  }

  .form-btns-container {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    margin-top: 3px;
    margin-bottom: 2px;
  }

  .secondary-btn {
    width: 100%;
    padding: 24px 0px 18px 0px;
    height: auto;
  }

  .btn-underlined {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: rgb(111 145 165 / 99%);
  }
  // FIN ISO
  
  