<app-header />


<div class="pageContent">

  <app-page-header title="Créer un compte" paragraph="Créez un compte pour commencer à explorer et remplir votre carnet de plongée"/>


  <form *ngIf="!isLoading" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Adresse mail:</mat-label>

        <input 
          matInput 
          matFormFieldControl 
          formControlName="email" 
          type="email" 
          placeholder="Entrez votre adresse mail"
          autocomplete="email"
        >

        <!-- Loadinf check email dispo -->
        <div *ngIf="emailChecking" class="loadingLine" class="emailCheckSuffix" matSuffix>
          <mat-spinner [diameter]="20" matTooltip="{{ emailStatusMessage }}"></mat-spinner>
        </div>
          <!-- Réponse check email dispo -->
        <div *ngIf="!emailChecking && emailAvailable !== null" class="emailCheckSuffix" matSuffix>
          <mat-icon *ngIf="!emailAvailable" class="color-red" matTooltip="{{ emailStatusMessage }}">unpublished</mat-icon>
          <mat-icon *ngIf="emailAvailable" class="color-green" matTooltip="{{ emailStatusMessage }}">task_alt</mat-icon>
        </div>

      </mat-form-field>

      <!-- Erreur pour email déjà pris (emailTaken) -->
      <div *ngIf="registerForm.get('email')?.hasError('emailTaken') && registerForm.get('email')?.touched">
        <mat-error>Cet email est déjà utilisé.</mat-error>
      </div>
      <!-- Erreur pour email requis -->
      <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
        <mat-error>L'adresse mail est obligatoire.</mat-error>
      </div>
      <!-- Erreur pour email invalide -->
      <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
        <mat-error>Format d'email invalide.</mat-error>
      </div>
    </div>

    <!-- // migrer vers profil (et first-connection) -->
    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Nom d'utilisateur:</mat-label>
        <input 
          matInput 
          matFormFieldControl 
          formControlName="username" 
          type="text"
          autocomplete="username"
        >
      </mat-form-field>

      <!-- Erreur pour username requis -->
      <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        <mat-error class="formFieldError">Nom d'utilisateur obligatoire.</mat-error>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Mot de passe:</mat-label>
        <input 
          matInput 
          matFormFieldControl 
          formControlName="password" 
          type="password" 
          (input)="onPasswordInput()"
          autocomplete="new-password">
      </mat-form-field>

      <div class="icone-et-jauge">
        <mat-icon>key</mat-icon>
        <div class="progress-bar-container">
          <!-- "6" car 6 niveaux de complexité -->
          <div 
            class="progress-bar" 
            [style.width.%]="(passwordComplexityScore / 6) * 100" 
            [ngClass]="passwordStrengthColor"
          ></div>
        </div>
      </div>

      <!-- Phase d'erreur généré via le passwordComplexityValidator -->
      <div *ngIf="registerForm.get('password')?.touched && passwordErrorMessage">
        <mat-error>{{ passwordErrorMessage }}</mat-error>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline" class="matFieldInput">
        <mat-label>Confirmer le mot de passe:</mat-label>
        <input 
          matInput 
          matFormFieldControl 
          formControlName="passwordCheck" 
          type="password"
          autocomplete="new-password"
          >
      </mat-form-field>
      
      <!-- Erreur pour mdp confirm ou Mismatch -->
      <div *ngIf="registerForm.get('passwordCheck')?.invalid && registerForm.get('passwordCheck')?.touched">
        <mat-error class="formFieldError">La confirmation de mot de passe est obligatoire.</mat-error>
      </div>
      <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('passwordCheck')?.touched">
        <mat-error class="formFieldError">Les mots de passe ne correspondent pas.</mat-error>
      </div>
    </div>

    <div>
      <mat-slide-toggle formControlName="acceptTerms">J'accepte les termes et conditions d'utilisation du site.</mat-slide-toggle>
    </div>
  
    <!-- Submit & Spinner -->
    <div [matTooltip]="registerForm.get('acceptTerms')?.value ? '' : 'Vous devez accepter les conditions d\'utilisation du site pour vous inscrire'">
      <button 
        mat-flat-button 
        class="cta-btn-primary" 
        type="submit" 
        [disabled]="!registerForm.valid || emailChecking || isLoading"
      >
        <span *ngIf="!isLoading">S'inscrire</span>
      </button>
    </div>

    <a [routerLink]="['/login']" mat-button>
        <span class="btn-underlined">Vous possédez déjà un compte ?</span>
    </a>

  </form>

  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

</div>





<app-footer />


