:host {
    position: absolute;
    z-index: 99999;
    bottom: 70px;
    right: 15px;
}

button {
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 20px;
}

button mat-icon {
    position: relative;
    top: 3px;
}