
<div class="pageContent" [class.fadeOut]="isAnimatingFadeOut">

    <app-page-header [title]="('ACCOUNT_SETTINGS' | translate)" matIcon="manage_accounts" />

    <app-alert-banner 
        *ngIf="user && !user.isVerified" 
        maticon="alternate_email" 
        [style]="'warn'" 
        msgAlert="{{ 'ALERT_CONFIRM_MAIL' | translate }}" 
    ></app-alert-banner>

    <section class="card">

        <div *ngIf="!isUserLoading">

            <div class="title-button">
                <h3>Mon profil</h3>

                <button 
                    mat-flat-button 
                    color="primary"
                >
                    <mat-icon>settings</mat-icon>
                    <span>{{ "EDIT_PROFILE" | translate }}</span>
                </button>
            </div>

            <section class="visibility-section">
                <div class="visibility-toggle">
                  <label>Visibilité du profil :</label>
                  <div class="toggle-container">
                    <span>Publique</span>
                    <mat-slide-toggle [formControl]="visibilityControl">
                    </mat-slide-toggle>
                    <span>Privé</span>
                  </div>
                </div>
              </section>

            <br />

            <p>Email: {{ user?.email }}</p>
            
            <br />

            <p>Email vérifié: {{ user?.isVerified }}</p>
            
            <!-- Renvoi mail de confirmation  -->
            <div *ngIf="!user?.isVerified">
    
                <button 
                    *ngIf="!emailConfirmResent"
                    mat-flat-button 
                    color="primary"
                    (click)="resendConfirmationEmail()"
                >
                    <span *ngIf="!emailConfirmResentLoading">{{ "EMAIL_RESEND_CONFIRMATION" | translate }}</span>
                    <mat-spinner *ngIf="emailConfirmResentLoading"></mat-spinner>
                </button>

                <app-alert-banner 
                    *ngIf="emailConfirmResent"
                    maticon="task_alt" 
                    [style]="'success'" 
                    [msgAlert]="'EMAIL_CONFIRMATION_SENT' | translate: { email: user?.email }" 
                ></app-alert-banner>
    
            </div>
        </div>

        <div *ngIf="isUserLoading" class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>

    </section>


      

    <section>
        <h5>Changer de mot de passe</h5>
    </section>

    <section>
        <h5>Changer d'adresse mail</h5>
    </section>

    <section>
        <h5>Autentification à 2 facteurs</h5>
    </section>


    <!-- Sécurité/vie privée -->
    <section>
        <div>
            <h5>Vie privée</h5>

            <!-- Pays, date de naissance (privé ou publique ou amis uniquement) -->
            <!-- Publications amis uniquement (defaut public) -->
        </div>

    </section>

</div>