:host {
    /* Pour footer */
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.toggle-theme-and-preferences {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
