
<div class="pageContent">

    <app-page-header 
        [title]="('ACCOUNT_SETTINGS' | translate)" 
        matIcon="manage_accounts" 
        [colorTheme]="true"
        class="fadeInNav"
        [class.fadeOutNav]="isAnimatingFadeOut"
    />

    <ng-container *ngIf="user$ | async as user; else loading">
        <app-alert-banner 
            *ngIf="!user.isVerified" 
            maticon="alternate_email" 
            [style]="'warn'" 
            msgAlert="{{ 'ALERT_CONFIRM_MAIL' | translate }}" 
            class="fadeInNav"
            [class.fadeOutNav]="isAnimatingFadeOut"
        ></app-alert-banner>

        <section [class.fadeOutNav]="isAnimatingFadeOut">
            <app-account-settings-privacy [user]="user"></app-account-settings-privacy>
        </section>

        <section [class.fadeOutNav]="isAnimatingFadeOut">
            <app-account-settings-profil [user]="user"></app-account-settings-profil>
        </section>

        <section [class.fadeOutNav]="isAnimatingFadeOut">
            <app-account-settings-interface [user]="user"></app-account-settings-interface>
        </section>

    </ng-container>  

    <ng-template #loading>
        <div class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

    <div class="pageContent-bottom-nav-decal"></div>
</div>