
<div class="pageContent">


    <app-page-header [title]="('MY_SPACE' | translate)" matIcon="account_circle" />


    <app-user-card [user]="user" *ngIf="user" />

    <div *ngIf="user && !user.isVerified" class="errorMsg">
        <mat-icon>alternate_email</mat-icon>
        <p class="error-message-text">Confirmez le lien reçu par mail pour profiter de toutes les fontcionalités.</p>
    </div>

    <section class="card">

        <div *ngIf="!isUserLoading">
            <h5>Mon profil</h5>
            <!-- <img src="assets/images/diver0.png" class="user-avatar" alt="{{ user?.username }}'s avatar" />  -->
            <p>Email: {{ user?.email }}</p>
            <p>Authentification à 2 facteurs:{{ user?.is2fa }}</p>
            
            <br>

            <p>Email vérifié: {{ user?.isVerified }}</p>
            <!-- Renvoi mail de confirmation  -->
            <div *ngIf="!user?.isVerified">
    
                <button 
                    *ngIf="!emailConfirmResent"
                    mat-flat-button 
                    color="primary"
                    (click)="resendConfirmationEmail()"
                >
                    <span *ngIf="!emailConfirmResentLoading">{{ "EMAIL_RESEND_CONFIRMATION" | translate }}</span>
                    <mat-spinner *ngIf="emailConfirmResentLoading"></mat-spinner>
                </button>
    
                <div *ngIf="emailConfirmResent">
                    <mat-icon>task_alt</mat-icon>
                    <p>{{ 'EMAIL_CONFIRMATION_SENT' | translate: { email: user?.email } }}</p>
                </div>
    
            </div>
        </div>

        <div *ngIf="isUserLoading" class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>

        <!-- <app-alert-banner *ngIf="user.isVerified" msgAlert="Confirmez votre email pour profiter de toutes les fonctionalitées !"/> -->
    </section>


    
    <!-- Grid vuttons nav -->
    <section class="nav-btn-grid">

        <button 
            mat-flat-button 
            color="primary"
            class="home-nav-button"
            (click)="navigateCertificates()"
        >
            <mat-icon>workspace_premium</mat-icon>
            <span>{{ "CERTIFICATES" | translate }}</span>
        </button>

        <button 
            mat-flat-button 
            color="primary"
            class="home-nav-button"
            (click)="navigateCertificates()"
        >
            <mat-icon>apparel</mat-icon>
            <span>{{ "EQUIPMENT" | translate }}</span>
        </button>

        <button 
            mat-flat-button 
            color="primary"
            class="home-nav-button"
            (click)="navigateCertificates()"
        >
            <mat-icon>record_voice_over</mat-icon>
            <span>{{ "PUBLISHES" | translate }}</span>
        </button>

        <button 
            mat-flat-button 
            color="primary"
            class="home-nav-button"
            (click)="navigateCertificates()"
        >
            <!-- <mat-icon>gallery_thumbnail</mat-icon> -->
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-200q-33 0-56.5-23.5T40-280v-400q0-33 23.5-56.5T120-760h400q33 0 56.5 23.5T600-680v400q0 33-23.5 56.5T520-200H120Zm600-320q-17 0-28.5-11.5T680-560v-160q0-17 11.5-28.5T720-760h160q17 0 28.5 11.5T920-720v160q0 17-11.5 28.5T880-520H720Zm40-80h80v-80h-80v80ZM120-280h400v-400H120v400Zm40-80h320L375-500l-75 100-55-73-85 113Zm560 160q-17 0-28.5-11.5T680-240v-160q0-17 11.5-28.5T720-440h160q17 0 28.5 11.5T920-400v160q0 17-11.5 28.5T880-200H720Zm40-80h80v-80h-80v80Zm-640 0v-400 400Zm640-320v-80 80Zm0 320v-80 80Z"/></svg>
            <span>{{ "GALLERY" | translate }}</span>
        </button>

    </section>


     
</div>





