.section-content {
    margin: 7px 0px 0px 0px;
}

app-alert-banner {
    margin-bottom: 7px;
}

.lang-container {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 10px;
    margin: 15px auto;
}
::ng-deep .lang-container mat-button-toggle-group mat-button-toggle.mat-button-toggle-checked button span mat-pseudo-checkbox.mat-pseudo-checkbox-checked::after {
    color: var(--primary-color);
}

.fish-toggle-line {
    margin: 15px auto;
}
::ng-deep .fish-toggle-line mat-slide-toggle label.mdc-label {
    padding-left: 0px !important;
}

.toggle-theme-and-preferences {
    // border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.interface-DT-primary-color-selection {
    margin: 25px auto 0px auto;
    width: 100%;

    .predefined-colors-div {
        display: inline-flex;
        gap: 5px;
        flex-direction: column;
        width: 100%;

        .colors-container {
            display: inline-flex;
            justify-content: center;
            flex-flow: wrap;
            gap: 5px;
            margin: 5px 0 7px 0;
        }

        .color-choice-btn {
            position: relative;
            width: 50px;
            height: 45px;
            border-radius: 4px;
            border: 0px;
        }

        .selected-color {
            border: 2px solid white;
        }
        .selected-color::after {
            content: "check_box";
            font-family: "Material Icons";
            font-size: 20px;
            vertical-align: middle;
            position: absolute;
            bottom: 0;
            right: 0;
            text-shadow: 0px 0px 3px black;

            opacity: 0;
            animation: fadeScaleIn-check 0.5s ease forwards;
        }
        @keyframes fadeScaleIn-check {
            0% {
                opacity: 0;
                transform: scale(0.5);
            }
            85% {
                opacity: 1;
                transform: scale(1.2);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

.color-input {
    background-color: transparent;
    border-color: transparent;
    width: 55px;
    height: 54px;
    position: relative;
    right: 2px;
    bottom: 4px;
    border-radius: 16px;
    border: 0px;
}
.color-input::after {
    content: "palette";
    font-family: "Material Icons";
    font-size: 27px;
    margin-right: 8px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-shadow: 0px 0px 3px black;
}