
<div class="pageContent" >

    <app-page-header 
        [title]="'Social'" 
        [matIcon]="'supervised_user_circle'"
        class="fadeInNav"
        [class.fadeOutNav]="isAnimatingFadeOut"
    />

    <section class="social-page-content" [class.fadeOutNav]="isAnimatingFadeOut">

        <!-- Onglets NEWS, SEARCH -->
        <mat-tab-group>

            <!-- FIL D'ACTUALITE  -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-title-icon">forum</mat-icon>
                    <span>Activités</span>
                </ng-template>
                <div class="tab-page-wrapper">
                    contenu actu GET
                </div>
            </mat-tab>

            <!-- Recherche -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-title-icon">person_search</mat-icon>
                    <span>Recherche</span>
                </ng-template>
                <div class="tab-page-wrapper">
                    <app-user-search [currentUser]="currentUser"></app-user-search>
                </div>
            </mat-tab>

        </mat-tab-group>
    </section>

</div>