
<div class="pageContent" [class.fadeOut]="isAnimatingFadeOut">
    <app-page-header [title]="'Social'" [matIcon]="'supervised_user_circle'"></app-page-header>

    <div class="social-page-content">
        <!-- Onglet Tabs Material [NEWS, SEARCH] -->

        <!-- Recherche -->
        <div class="">
            <app-user-search></app-user-search>
        </div>


        <!-- FIL D'ACTUALITE  -->
        <!-- Gens randoms qui ont du contenu (des Fixtures) -->
        <div>

        </div>
    </div>


</div>