.pageContent {
    gap: 5px;
}

.social-page-content {
    width: 100%;
    margin-top: 15px;
}
.tab-page-wrapper {
    margin-top: 25px;
}


::ng-deep .mdc-tab__text-label {
    gap: 10px;
}

::ng-deep mat-tab-group .mdc-tab-indicator--active {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--element-bg-color);
    transition: background-color 1s;
}