<div class="pageContent">

    <app-page-header 
        [title]='("NOTIFICATIONS" | translate)' 
        matIcon="notifications" 
        [colorTheme]="true"
        class="fadeInNav"
        [class.fadeOutNav]="isAnimatingFadeOut"
    />

    <div [class.fadeOutNav]="isAnimatingFadeOut" class="notifications-container">

        <!-- FriendRequests: -->
        <div>
            <div class="friendrequest-title-container fadeInNav">
                <mat-icon>waving_hand</mat-icon>
                <h3>Demande d'amis</h3>
            </div>

            <ng-container *ngIf="!friendRequestLoading">

                <!-- liste vide -->
                <div *ngIf="friendRequests.length === 0 && !userNotVerified" class="empty-list fadeInNav">
                    <mat-icon>info</mat-icon>
                    <span>Aucune demande d'amis pour l'instant</span>
                </div>

                <app-alert-banner 
                    *ngIf="userNotVerified"
                    maticon="alternate_email" 
                    [style]="'warn'" 
                    msgAlert="{{ 'ALERT_CONFIRM_MAIL' | translate }}"
                    class="notVerified-msg fadeInNav" 
                ></app-alert-banner>

                <!-- liste -->
                <div *ngIf="friendRequests.length !== 0" class="friend-request-list fadeInNav">
                    <div *ngFor="let friendRequest of friendRequests" class="friend-request-card" (click)="navigateFriendRequestUserProfil(friendRequest.emitterId)">
                        <div class="friend-request-card-infos">

                            <!-- Avatar + Banner + Flag -->
                            <div class="search-user-card-avatar-wrapper" [ngStyle]="{ 'background-image': 'url(' + friendRequest.emitterBannerUrl + ')' }">
                                <div class="search-user-card-avatar-container">
                                    <img 
                                        *ngIf="friendRequest.flagSvgUrl"
                                        [src]="friendRequest.flagSvgUrl"
                                        [alt]="friendRequest.countryName"
                                        width="24"
                                        height="24"
                                        [matTooltip]="friendRequest.countryName"
                                        class="country-flag-png"
                                    >
                                    <img [src]="friendRequest.emitterAvatarUrl" class="search-user-card-avatar-img" alt="User avatar" />
                                </div>
                            </div>

                            <div class="friend-request-card-center-div">
                                <!-- username -->
                                <div class="flag-and-username">
                                    <span>{{ friendRequest.emitterUsername }}</span>
                                </div>
                                
                                <span class="created-at">{{ friendRequest.sentAt | timeAgo }}</span>
                            </div>
                        </div>

                        <div class="friend-request-card-btns">
                            <button 
                                class="accept-btn" 
                                (click)="acceptFriendRequest(friendRequest)"
                                [disabled]="friendRequest.isLoading"
                            >
                                <mat-spinner 
                                    [diameter]="20"
                                    *ngIf="friendRequest.isLoading && friendRequest.actionLoading === 'accept'"
                                ></mat-spinner>
                                <mat-icon *ngIf="!friendRequest.isLoading || friendRequest.actionLoading !== 'accept'">check</mat-icon>
                            </button>
                            <button 
                                class="refuse-btn" 
                                (click)="rejectFriendRequest(friendRequest)"
                                [disabled]="friendRequest.isLoading"
                            >
                                <mat-spinner 
                                    [diameter]="20"
                                    *ngIf="friendRequest.isLoading && friendRequest.actionLoading === 'reject'"
                                ></mat-spinner>
                                <mat-icon *ngIf="!friendRequest.isLoading || friendRequest.actionLoading !== 'reject'">close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </ng-container>

            <div class="spinner-container fadeInNav" *ngIf="friendRequestLoading">
                <mat-spinner diameter="50"></mat-spinner>
            </div>
        </div>
    </div>


    <mat-divider class="divider fadeInNav" [class.fadeOutNav]="isAnimatingFadeOut"></mat-divider>


    <!-- Notifications: -->
    <div [class.fadeOutNav]="isAnimatingFadeOut" class="notifications-container">
        <!-- Pas de titre (redondant) -->
        <!-- liste vide -->
        <div *ngIf="notifications.length === 0" class="empty-list fadeInNav">
            <mat-icon>info</mat-icon>
            <span>Aucune notification pour l'instant</span>
        </div>
    </div>

</div>