@use '@angular/material' as mat;
@include mat.core();

// Palette principale (utilisée dans les deux thèmes)
$myapp-theme-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$myapp-theme-accent: mat.m2-define-palette(mat.$m2-light-blue-palette);
$myapp-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Thème clair
$myapp-light-theme: mat.m2-define-light-theme((
  color: (
    primary: $myapp-theme-primary,
    accent: $myapp-theme-accent,
    warn: $myapp-theme-warn,
  ),
  bg-color: (
    // default: linear-gradient(to left bottom, #17ae66, #009d8a, #00889d, #007199, #355982), // Gradient background-color body
    // default: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%), 
    default: linear-gradient(160deg, #E3F2FD 0%, #E0F7FA 100%),
    surfaces: #f0f3f5, // Couleur des surfaces
    border: #dbdcdd
  ),
  matMenu-bgColor: (
    default: #f0f3f5,
  )
));

// Thème sombre
$myapp-dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $myapp-theme-primary,
    accent: $myapp-theme-accent,
    warn: $myapp-theme-warn,
  ),
  bg-color: (
    // default: linear-gradient(315deg, #2b5562 0%, #12100e 74%),
    default: linear-gradient(315deg, #1e1e1e 0%, #121212 100%),
    surfaces: #252526, // Couleur des surfaces
    border: #484849
  ),
  matMenu-bgColor: (
    default: #252526,
  )
));




