:host {
  display: flex;
  flex-direction: column;
  width: 92%;

  .pageContent {
    gap: 0px;
    padding: 0px;
    margin-top: 22px;
  }
}

.login-page-login {

}


.form-container {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: 1em;
}


//***  ISO register
.toggles-container {
  margin: 7px 10px 20px 10px;    
}

.form-btns-container {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  gap: 3px;
  margin-top: 3px;
  margin-bottom: 2px;
}
.secondary-btn {
  width: 100%;
  padding: 24px 0px 18px 0px;
  height: auto;
}

.btn-underlined {
  text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #6f91a51f;
}
// FIN ISO