:host {
  /* Pour footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

  
div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: 1em;
}


  
  