.visibility-section {
    padding: 34px 10px 8px 8px;
    border-radius: 3px;
}

.material-icons-outlined {
    color: var(--primary-color);
}

.visibility-titles {
    position: absolute;
    color: var(--primary-color);
    left: -1px;
    top: -18px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    font-weight: 100;
    letter-spacing: 1px;

    // background-color: var(--surface-background-color);
    background-color: var(--primary-color);
    color: black;
    padding: 1px 7px;
}
.visibility-titles-profil {
    top: -21px;
    left: -1px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.visibility-toggle {
    position: relative;
    // border: 1px solid var(--element-bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;

    display: inline-flex;
    flex-direction: column;
    width: 100%;

    .toggle-container {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        margin: 8px auto 5px auto;
        gap: 15px;
    }
}


.subPrivacySettings-div {
    padding: 0 5px;

    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-top: 28px;
}


.privacy-divider {
    width: 75%;
    position: relative;
    margin: 5px 0px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
}

::ng-deep .mat-expansion-panel-header {
    padding: 0 10px !important;
}
::ng-deep .mat-expansion-panel-body {
    padding: 0 5px 9px !important;
}

// Pour enlever l'effet gris du dirty/touched
::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background-color: transparent !important;
}
::ng-deep .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background-color: transparent !important;
}
