:host {
    height: auto;
    display: block;
}

.errorMsg {

}
.error-message-text {
    flex: 1; // important sinon icon machée
    color: white; // toujours blanc
}

.errorMsg {
    border-left-width: 6px !important;
    font-size: 0.9em;
    padding: 7px 12px;
    border-radius: 5px;

    display: inline-flex;
    align-items: center;
    width: 100%;
}


.warn {
    background-color: #750000db;
    border: 1px solid var(--red);

    mat-icon {
        color: #ff434c;
    }
}
.success {
    background-color: #00b570d4;
    border: 1px solid #00ff6f;

    mat-icon {
        color: #00ff6f;
    }
}
.info {
    background-color: #006dc7d1;
    border: 1px solid #00d3ff;

    mat-icon {
        color: #00d3ff;
    }
}

mat-icon {
    font-size: 1.6em;
    padding: 5px 8px 5px 0px;
    box-sizing: content-box;
}