:host {
    padding: 5px 10px;

    border-bottom: 1px solid #80808038;
}

.page-title-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.page-title-line h2 {
    margin-bottom: 0;
    font-size: 30px;
}
.page-title-icon {
    font-size: 42px;
}