:host {
    padding: 20px 2px;
}

.page-title-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.page-title-line h2 {
    margin-bottom: 0;
    font-size: 30px;
}
.page-title-icon {
    font-size: 44px;
    height: 44px;
    width: 44px;
    position: relative;
    bottom: 2px;
}


.page-description {
    display: block;
    width: 90%;
    // padding: 7px 17px;
    // margin: 10px auto;
    padding: 7px 0px;
    margin: 10px auto;
}