:host {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
}

// PITCH
.hero-description {
    display: inline-flex;
    gap: 3px;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    color: #F5F5F5 !important;
  
    opacity: 0;
    transform: translateY(-25px);
    animation: fadeSlideInTop 1.8s 0.7s ease forwards;
}
  .hero-description-strong {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 105%;
}


// LOGIN / REGISTER boutons
.cta-buttons {
    flex: 1;
    margin: 10px auto;
    width: 100%;

    display: inline-flex;
    flex-direction: column;
    gap: 35px;
    padding: 10px 0px;
    border-radius: 7px;
    text-shadow: 0px 1px 1px black;
  }

.cta-buttons ul {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    padding: 0px 10px;
    list-style: none;
    gap: 14px;
  }

  .cta-register {
    text-shadow: 0px 0px 2px black !important;
    font-size: 110%;

    border: 1px solid rgb(7 255 248 / 38%);
    border-radius: 3px;

    opacity: 0;
    transform: translateY(-25px);
    animation: fadeSlideInTop 1.8s 1.6s ease forwards;
  }
  .btn-login {
    color: white;
    transition: all 1s;
    opacity: 0;
    transform: translateY(-25px);
    animation: fadeSlideInTop 1.8s 1.6s ease forwards;
  }
  
  .cta-buttons li {
    flex: 1; /* Chaque élément prend une part égale de la largeur */
    margin: 0 10px; /* Espacement entre les éléments */
  }


  .cta-btn-secondary {
    background-color: rgb(0 0 0 / 18%);
    border-radius: 5px;
    padding: 20px 20px;
    border: 1px solid #4a5d6abf;
    font-size: 106%;
  }


  .features-section h2 {
    font-size: var(--font-size-large);
  }
  .features-section .feature {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1px 10px;
    margin: 5px auto;
    border-radius: 10px;
  }
  .features-section .feature h3 {
    font-size: var(--font-size-large);
  }


.discover-btn-container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(4px);

  animation: fade-in-discover 0.7s 2.7s ease forwards;
  opacity: 0;

  .discover-btn {
      display: inline-flex;
      align-items: center;
      padding: 10px 17px 10px 10px;

      border-radius: 10px;
      background-color: #8080801f;

      .emoji {
          position: relative;
          bottom: 2px;
          font-size: 1.6em;
          margin-right: 8px;

          animation: rotate-3d-emoji 2.5s infinite ease-in-out;
      }
      @keyframes rotate-3d-emoji {
          0% {
            transform: rotate3d(1, 1, 1, 340deg);
          }
          // 25% {
          //   transform: rotate3d(1, 1, 1, 360deg);
          // }
          50% {
            transform: rotate3d(1, 1, 1, 360deg);
          }
          100% {
            transform: rotate3d(1, 1, 1, 340deg);
          }
      }
  }
}
@keyframes fade-in-discover {
  0% {
      opacity: 0;
      transform: translateY(25px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}



