<div class="cta-buttons">
    <div class="hero-description">
        <span>{{ 'LP_SPEECH1' | translate }}</span>
        <span class="hero-description-strong">{{ 'LP_SPEECH2' | translate }}</span>
        <span>{{ 'LP_SPEECH3' | translate }}</span>
    </div>
    <ul>
        <li>
            <a 
                mat-flat-button 
                color="primary"
                [routerLink]="['/register']" 
                class="cta-btn-primary bigButton cta-register"
            >
                {{ 'LP_REGISTER_NOW' | translate }}
            </a>
        </li>
        <li>
            <a 
                [routerLink]="['/login']" 
                class="cta-btn-secondary btn-login"
            >
                {{ 'LP_LOGIN' | translate }}
            </a>
        </li>
    </ul>
</div>

<!-- Idée: quand on clique "dicover", ça slide vers la gauche pour afficher les pages de présentation (1 page = 1 fonctionalité) et ducoup le bouton discover devient un bouton de navigation entres les étapes/slides de pésentaztion + bouton-icon-home pour revenir revenir -->
<!-- Un carrousel quoi -->
<div class="discover-btn-container">
    <div class="discover-btn" (click)="toggleDiscovery()">
        <span class="emoji">✨</span>
        <span>{{ "LP_DISCOVER_BTN" | translate }}</span>
    </div>
</div>

