<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
 
<!-- Click outside modal = close -->
<div class="modal-overlay" (click)="close()"></div>

<div class="modal-content surface">

  <div class="modal-icon-wrapper">
    <mat-icon class="modal-icon">{{ modalIcon }}</mat-icon>
    <svg class="modal-icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 33">
      <path d="m 0 25 Q 9 25 13 18 L 21 5 Q 24 0 30 0 L 65 0 Q 71 0 74 5 Q 82 18 82 18 Q 86 25 98 25 L 9 25" fill="#000000"/>
    </svg>
  </div>

  <ng-container #modalContent></ng-container>
</div>