:host {
  z-index: 200;
  position: relative;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 1000;

    animation: fadeInLayout 0.5s ease forwards;
}

.modal-content {
  overflow: visible !important; // pour iconModal
  opacity: 0;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background: white;
  padding: 17px 20px 20px 20px;
  border-radius: 8px;
  z-index: 1001;
  width: 90%;
  max-height: 80vh;
  overflow-y: scroll;

  animation: fadeInModal 0.5s ease forwards;
}

.modal-icon-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -38px;

  height: auto;
  width: auto;
  font-size: 2em;

  background-color: var(--primary-color);
  color: rgb(10, 10, 10);
  padding: 3px 15px;
  
  .modal-icon {
    z-index: 999999999;
    position: relative;

    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    top: 0px;
  }

  .modal-icon-svg {
    position: absolute;
    overflow: visible;
    height: 50px;
    top: 0px;
    left: 37%;
    transform: translateX(-63%);

    path {
      fill: var(--primary-color);
    }
  }

}


:host.modal-closing .modal-overlay {
  animation: fadeOutLayout 0.5s ease forwards;
}
:host.modal-closing .modal-content {
  animation: fadeOutModal 0.5s ease forwards;
}

@keyframes fadeInLayout {
  from {
  }
  to {
    background: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(10px);
  }
}

@keyframes fadeOutLayout {
  from {
    background: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(10px);
  }
  to {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }
}

@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOutModal {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}
