strong {
    color: var(--red);
}

.form-container {
    margin: 25px auto;
}

.currentPassword, .newPassword, .confirmNewPassword {
    width: 100%;
    margin: 10px auto;
}

.currentPassword {
    margin: 5px auto;
}
.new-password-container {
    margin: 20px auto;
}

.buttons {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}
::ng-deep button.button-loader .mdc-button__label {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.new-password-et-jauge {
    position: relative;
}

// Jauge new password:
  .icone-et-jauge {
    display: inline-flex;
    width: 100%;
    gap: 9px;
    margin-bottom: 0px;

    position: absolute;
    bottom: 5px;
    left: 0;
  }
  .icone-et-jauge mat-icon {
    overflow: visible;
  }

  /* Jauge complexité mot de passe: */
  .progress-bar-container {
    width: 99%;
    margin: 0 auto;
    height: 6px;
    
    background-color: #e0e0e0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    margin-bottom: 0px;
  }
  
  .progress-bar {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease, background-color 0.3s ease; /* Ajout de la transition pour l'effet fluide */
  }
  
  .progress-bar.weak {
    background-color: var(--red); /* Rouge */
  }
  
  .progress-bar.medium {
    background-color: #ffcc00; /* Jaune */
  }
  
  .progress-bar.strong {
    background-color: var(--green); /* Vert */
  }