<form [formGroup]="changePasswordForm" class="delete-form">
    <p>
      Changement de mot de passe :
    </p>
  
    <div class="form-container">
        <!-- Mot de passe actuel: -->
        <mat-form-field appearance="outline" class="currentPassword">
            <mat-label>Mot de passe actuel</mat-label>
            <input 
                matInput 
                formControlName="currentPassword" 
                [type]="hideCurrPassword ? 'password' : 'text'"
                autocomplete="off" 
            />
            <mat-icon matSuffix (click)="toggleCurrPasswordVisibility()">{{ hideCurrPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
                Ce champ est requis.
            </mat-error>
        </mat-form-field>
    
        <div class="new-password-container">
            <!-- Nouveau mot de passe: -->
            <div class="new-password-et-jauge">
                <mat-form-field appearance="outline" class="newPassword">
                    <mat-label>Nouveau mot de passe</mat-label>
                    <input 
                        matInput 
                        formControlName="password" 
                        [type]="hideNewPassword ? 'password' : 'text'"
                        autocomplete="off" 
                        (input)="onPasswordInput()"
                    />
                    <mat-icon matSuffix (click)="toggleNewPasswordVisibility()">{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    <mat-error *ngIf="changePasswordForm.get('password')?.hasError('required')">
                        Ce champ est requis.
                    </mat-error>
                </mat-form-field>
    
                <div *ngIf="changePasswordForm.get('password')?.touched && passwordErrorMessage">
                    <mat-error>{{ passwordErrorMessage }}</mat-error>
                </div>
    
                <!-- Jauge: -->
                <div class="icone-et-jauge">
                    <div class="progress-bar-container">
                    <!-- "6" car 6 niveaux de complexité -->
                    <div 
                        class="progress-bar" 
                        [style.width.%]="(passwordComplexityScore / 6) * 100" 
                        [ngClass]="passwordStrengthColor"
                    ></div>
                    </div>
                </div>
            </div>
        
            <!-- Confirmation du nouveau mot de passe: -->
            <mat-form-field appearance="outline" class="confirmNewPassword">
                <mat-label>Confirmation du nouveau mot de passe</mat-label>
                <input 
                    matInput 
                    formControlName="passwordCheck" 
                    [type]="hideNewPassword2 ? 'password' : 'text'"
                    autocomplete="off" 
                />
                <mat-icon matSuffix (click)="toggleNewPassword2Visibility()">{{ hideNewPassword2 ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error *ngIf="changePasswordForm.get('passwordCheck')?.hasError('required')">
                    Ce champ est requis.
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('passwordCheck')?.hasError('newPasswordMismatch')">
                    La confirmation du nouveau mot de passe ne correspond pas.
                </mat-error>
            </mat-form-field>

            <!-- Erreur pour mdp confirm ou Mismatch -->
            <div *ngIf="changePasswordForm.get('passwordCheck')?.invalid && changePasswordForm.get('passwordCheck')?.touched">
                <mat-error class="formFieldError">{{ "PASSWORD_CONFIRM_REQUIRED" | translate }}</mat-error>
            </div>
            <div *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('passwordCheck')?.touched">
                <mat-error class="formFieldError">{{ "PASSWORD_CONFIRM_MISMATCH" | translate }}</mat-error>
            </div>
        </div>
    </div>
  
    <div class="buttons">
      <button
        mat-raised-button
        color="primary"
        class="button-loader"
        (click)="confirmPasswordChange()"
        [disabled]="!changePasswordForm.valid || isLoading"
      >
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        <span>Modifier le mot de passe</span>
      </button>
      <button
        mat-button
        (click)="cancel()"
        type="button"
      >
        Annuler
      </button>
    </div>
  </form>