
<div class="pageContent">

    <app-page-header [title]="('ACCOUNT_SETTINGS' | translate)" matIcon="manage_accounts" />

    <section>
        <h5>Changer de mot de passe</h5>
    </section>

    <section>
        <h5>Changer d'adresse mail</h5>
    </section>

    <section>
        <h5>Autentification à 2 facteurs</h5>
    </section>


    <!-- Sécurité/vie privée -->
    <section>
        <div>
            <h5>Vie privée</h5>

            <!-- Pays, date de naissance (privé ou publique ou amis uniquement) -->
            <!-- Publications amis uniquement (defaut public) -->
        </div>

    </section>

</div>