<div class="pageContent">

    <app-page-header [title]='("CERTIFICATES" | translate)' matIcon="account_circle" />


    <section *ngIf="!isAllCertifsLoading && !isUserCertifsLoading">

        <!-- Bouton pour toggler le mode édition -->
        <button (click)="toggleEditMode()" class="custom-button">
            <mat-icon>{{ isEditMode ? 'check' : 'edit' }}</mat-icon>
        </button>

        <div>
            <!-- Liste Matrerial avec drag and drop order (ou que quand edit toggled) -->
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

                <!-- Bouton d'ajout (non draggable) -->
                <button class="example-box non-draggable addCertif-button" (click)="openAddCertifModal()">
                    <div class="addCertif-button-container">
                        <mat-icon>add</mat-icon>
                        <span>{{ "ADD_CERTIFICATE_BUTTON" | translate }}</span>
                    </div>
                </button>

                <!-- Itération sur les certificats -->
                <div 
                    class="example-box" 
                    *ngFor="let userCertif of userCertificates; trackBy: trackByCertificateId" 
                    cdkDrag
                    [cdkDragDisabled]="!isEditMode"
                    [ngClass]="{ 'drag-disabled': !isEditMode }"
                >
                  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                  {{ userCertif.certificateName }}
                </div>
            </div>
        </div>
    </section>

    <app-back-button></app-back-button>


    <!-- Loader/Spinner page -->
    <div class="spinner-container" *ngIf="isAllCertifsLoading && isUserCertifsLoading">
        <mat-spinner></mat-spinner>
    </div>

</div>
