<div class="pageContent">

    <app-page-header [title]='("CERTIFICATES" | translate)' matIcon="account_circle" />


    <section *ngIf="!isAllCertifsLoading && !isUserCertifsLoading">



        <div>
            <!-- Liste Matrerial avec drag and drop order (ou que quand edit toggled) -->
            <div cdkDropList class="example-list surface" (cdkDropListDropped)="drop($event)">

                <div style="display:flex">
                    <!-- Bouton d'ajout (non draggable) -->
                    <button *ngIf="!isEditMode" class="example-box non-draggable addCertif-button" (click)="openAddCertifModal()">
                        <div class="addCertif-button-container">
                            <mat-icon>add</mat-icon>
                            <span>{{ "ADD_CERTIFICATE_BUTTON" | translate }}</span>
                        </div>
                    </button>

                    <!-- Bouton pour toggler le mode édition -->
                    <button class="example-box non-draggable editCertif-button" (click)="toggleEditMode()" >
                        <div class="addCertif-button-container">
                            <mat-icon>{{ isEditMode ? 'check' : 'edit' }}</mat-icon>
                            <span>{{ (isEditMode ? "VALIDATE" : "EDIT_CERTIFICATE_BUTTON") | translate }}</span>
                        </div>
                    </button>
                </div>

                <!-- Itération sur les certificats -->
                <div 
                    class="example-box" 
                    *ngFor="let userCertif of userCertificates; let i = index; trackBy: trackByCertificateId" 
                    cdkDrag
                    [cdkDragDisabled]="!isEditMode"
                    [ngClass]="{ 'drag-disabled': !isEditMode }"
                >
                  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

                  <div class="content">
                    <mat-icon *ngIf="i===0" class="main-certif-icon">workspace_premium</mat-icon>
                    <div class="certif-header">
                        <span class="certif-organization">{{ userCertif.certificate.type }}</span>
                        <span class="cartif-name">{{ userCertif.certificate.name }}</span>
                    </div>
                  </div>
                
                  <div *ngIf="isEditMode" >
                    <!-- dragHandle -->
                    <mat-icon cdkDragHandle class="drag-handle">drag_handle</mat-icon>

                    <!-- delete -->
                    <button 
                        mat-icon-button 
                        color="warn" 
                        (click)="deleteCertificate(userCertif)" 
                        [disabled]="isDeleting[userCertif.certificate.id]"
                        class="non-draggable-button"
                    >
                        <mat-icon *ngIf="!isDeleting[userCertif.certificate.id]" >delete_forever</mat-icon>
                        <mat-spinner 
                            *ngIf="isDeleting[userCertif.certificate.id]" 
                            diameter="20" 
                            strokeWidth="3"
                      ></mat-spinner>
                    </button>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <app-back-button></app-back-button> -->


    <!-- Loader/Spinner page -->
    <div class="spinner-container" *ngIf="isAllCertifsLoading && isUserCertifsLoading">
        <mat-spinner></mat-spinner>
    </div>

</div>
