
<h1 class="lp-title">BubbleBook</h1>
  

<div class="lp-auth-div">
    <p class="lp-accroche">Plongez, partagez, inspirez. Votre carnet de plongée devient social!</p>

    <a [routerLink]="['/register']" class="lp-cta-btn">S'inscrire maintenant</a>
    <a [routerLink]="['/login']" class="lp-subOption">Connexion</a>    
</div>

<div class="lp-description-div">
    <p></p>
</div>

<div class="lp-fonctionalities-div">
    <ul>
        <li>
            <!-- Tenir à jor son carnet, impression -->
            <h3>Carnet de plongée</h3>
        </li>
        <li>
            <h3>Partagez</h3>
        </li>
    </ul>
</div>
