:host {
    text-align: center;
}

.search-form-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .search-form-type {
        width: 30%;
        max-width: 110px;
    }
    .search-form-text {
        flex: 1;
    }
}

::ng-deep mat-form-field.search-form-type .mat-mdc-text-field-wrapper {
    background-color: var(--primary-color);
    border-radius: 5px 0px 0px 5px;
}
::ng-deep mat-form-field.search-form-type .mdc-notched-outline__trailing {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

::ng-deep mat-form-field.search-form-text .mdc-notched-outline__leading {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



mat-divider {
    margin: 15px auto;
}

.search-users-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
}
.search-user-card {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin: 0px auto;

    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.search-user-card-avatar-container {
    overflow: hidden;
    display: flex;

    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius: 50%;
}
.search-user-card-avatar-img {
    height: 45px;
    width: 45px;
    padding: 2px;
}