:host {
    text-align: center;
}

.search-form-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .search-form-type {
        width: 30%;
        max-width: 110px;
    }
    .search-form-text {
        flex: 1;
    }
}

::ng-deep mat-form-field.search-form-type .mat-mdc-text-field-wrapper {
    background-color: var(--primary-color);
    border-radius: 5px 0px 0px 5px;
}
::ng-deep mat-form-field.search-form-type .mdc-notched-outline__trailing {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

::ng-deep mat-form-field.search-form-text .mdc-notched-outline__leading {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



mat-divider {
    margin: 15px auto;
}

.search-users-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    gap: 5px;
}
.search-user-card {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 70px; // explicite important pour banniere
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    margin: 0px auto;

    border-radius: 5px;

    border-top: 1px solid #ffffff8c;
    border-bottom: 1px solid #0000002d;
    border-top-right-radius: 4px;
    background-color: #ffffff1f;
}

// .search-user-card-background {
//     width: 100%;
//     height: 100%; 
//     background-size: cover;
//     background-position: center;
// }

.search-user-card-avatar-wrapper {
    display: flex;
    height: 100%;
    clip-path: polygon(100% 0, 71% 100%, 0 100%, 0 0);
    background-color: var(--primary-color);
    padding: 7px 32px 7px 10px;
    border-radius: 7px 0px 0px 7px;
}
.search-user-card-avatar-container {
    align-self: center;
    overflow: hidden;
    display: flex;

    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius: 50%;
}
.search-user-card-avatar-img {
    height: 45px;
    width: 45px;
    padding: 2px;
    border-radius: 50%;
    background-color: #ffffff69;
}