<div class="search-container">

  <!-- *** Form -->

    <!-- *** Type de comptes recherchés ('users' ou 'clubs') -->
    <mat-form-field appearance="outline">
      <mat-label>Type de recherche</mat-label>
      <mat-select [formControl]="typeControl">
        <mat-option value="all">Tout</mat-option>
        <mat-option value="divers">Utilisateurs</mat-option>
        <mat-option value="clubs">Clubs</mat-option>
      </mat-select>
    </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Rechercher</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Entrez un nom">
  </mat-form-field>

  <!-- *** Results -->
  <mat-divider *ngIf="users.length > 0"></mat-divider>
  <section class="surface" *ngIf="users.length > 0">
    <ul class="search-users-list">
      <li *ngFor="let user of users">
        <a [routerLink]="['/social/user-profil/', user.id]">
        <div class="search-user-card">
            <div class="search-user-card-avatar-container">
              <img [src]="user.avatarUrl" class="search-user-card-avatar-img" alt="User avatar" />
            </div>
            <span>{{ user.username }}</span>
            <span>{{ user.accountType }}</span>
          </div>
        </a>
      </li>
    </ul>
  </section>


  <!-- *** Loading Users -->
  <div *ngIf="loading" class="loading">Chargement...</div>
  <!-- 0 Users match -->
  <p *ngIf="!loading && users.length === 0">Aucun résultat trouvé.</p>

</div>