:host {
    text-align: center;
}

.search-form-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .search-form-type {
        width: 30%;
        max-width: 110px;
    }
    .search-form-text {
        flex: 1;
    }
}

::ng-deep .mat-mdc-tab-labels {
    border-bottom: 1px solid #ffffff17;
}

// Body contenu des tabs
::ng-deep .mat-mdc-tab-body-content {
    width: 90%;
    margin: 0 auto;
}

::ng-deep mat-form-field.search-form-type .mat-mdc-text-field-wrapper {
    background-color: var(--primary-color);
    border-radius: 5px 0px 0px 5px;
}
::ng-deep mat-form-field.search-form-type .mdc-notched-outline__trailing {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

::ng-deep mat-form-field.search-form-text .mdc-notched-outline__leading {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
::ng-deep mat-form-field.search-form-text .mat-mdc-text-field-wrapper {
    background-color: var(--element-bg-color);
}


mat-divider {
    margin: 15px auto;
}

.search-users-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    gap: 10px;
}
.search-user-card {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 70px; // explicite important pour banniere
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px;
    margin: 0px auto;

    border-radius: 5px;

    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid #0000002d;
    border-top-right-radius: 4px;
    background-color: var(--element-bg-color);
}

.search-user-card-avatar-wrapper {
    // BannerUrl:
    background-position: center;
    background-size: cover;

    display: flex;
    height: 100%;
    clip-path: polygon(100% 0, 71% 100%, 0 100%, 0 0);
    background-color: var(--primary-color);
    padding: 7px 32px 7px 10px;
    border-radius: 4px 0px 0px 4px;
}
.search-user-card-avatar-container {
    align-self: center;
    overflow: hidden;
    display: flex;

    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius: 50%;
}

.section-bottom-line-left {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 14px;
}

.search-user-card-icons {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 2px;

    mat-icon {
        font-size: 1.1em;
        height: 19px;
        width: 19px;
    }
}

.search-user-card-avatar-img {
    height: 50px;
    width: 50px;
    padding: 2px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.username {
    font-size: 1.15em;
}

.loading {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}