<div class="pageContent">

  <app-page-header 
      [title]="('DIVELOGS' | translate)" 
      [matIcon]="'menu_book'"
      class="fadeInNav"
      [class.fadeOutNav]="isAnimatingFadeOut"
  />

  <div [class.fadeOutNav]="isAnimatingFadeOut" class="buttons-container">
      <div style="display:flex; gap:10px;">
          <!-- Bouton d'ajout ou de cancelEdit -->
          <button *ngIf="!isEditMode" class="example-box divelogs-btns addDivelog-button" (click)="openAddDivelogModal()">
              <div class="addDivelog-button-container">
                  <mat-icon>add</mat-icon>
                  <span>{{ "ADD_DIVELOG_BUTTON" | translate }}</span>
              </div>
          </button>
          <button *ngIf="isEditMode" class="example-box divelogs-btns cancelEdit-button" (click)="openAddDivelogModal()">
              <div class="addDivelog-button-container">
                  <mat-icon>undo</mat-icon>
                  <!-- <span>{{ "REVERT_REORDER_CERTIF_BUTTON" | translate }}</span> -->
              </div>
          </button>
  
          <!-- Bouton pour toggler le mode édition -->
          <button [ngClass]="isEditMode ? 'editValidateBtn' : ''" class="example-box divelogs-btns editDivelog-button" (click)="toggleEditMode()" >
              <div class="addDivelog-button-container">
                  <mat-icon>{{ isEditMode ? 'check' : 'edit' }}</mat-icon>
                  <span>{{ (isEditMode ? "VALIDATE" : "EDIT_DIVELOG_BUTTON") | translate }}</span>
              </div>
          </button>
      </div>
  </div>


  <section 
      *ngIf="!isUserDivelogsLoading" 
      class="section-list-divelogs"
      [class.fadeOutNav]="isAnimatingFadeOut"
  >

      <div class="divelogs-list">
          <!-- spinner: pas de skeleton -->
          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

              <!-- Grid divelogs -->
              <div class="divelogs-list-wrapper">

                  <!-- liste vide -->
                  <div class="example-box" *ngIf="userDivelogs.length === 0" class="empty-list">
                      <mat-icon>info</mat-icon>
                      <span>{{ "NO_DIVELOG_YET" | translate }}</span>
                  </div>

                  <div 
                      *ngFor="let userDivelog of userDivelogs; let i = index; trackBy: trackByDivelogId" 
                      class="divelog-box" 
                      cdkDrag
                      [cdkDragDisabled]="!isEditMode"
                      [routerLink]="!isEditMode ? ['/divelogs', userDivelog.id] : null"
                      routerLinkActive="active"
                      [ngClass]="{ 'drag-disabled': !isEditMode, 'shrinked-box': isEditMode}"
                  >


                        <div class="divelog-title">
                            <span>{{ userDivelog.title }}</span>
                        </div>

                        <div class="divelog-dives-count">
                            <span>{{ userDivelog.diveCount }}</span>
                            <mat-icon>scuba_diving</mat-icon>
                        </div>

                      <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

                      <div class="content">
                          <div class="divelog-header">
                              <span class="cartif-name">{{ userDivelog.title }}</span>
                          </div>
                      </div>
                      
                      <div *ngIf="isEditMode" class="editMode-buttons-div">
                        
                          <mat-icon cdkDragHandle class="drag-handle">drag_handle</mat-icon>

                          <button 
                              mat-icon-button 
                              color="warn" 
                              (click)="deleteDivelog(userDivelog)" 
                              [disabled]="isDeleting[userDivelog.id]"
                              class="non-draggable-button"
                          >
                              <mat-icon *ngIf="!isDeleting[userDivelog.id]" >delete_forever</mat-icon>
                              <mat-spinner 
                                  *ngIf="isDeleting[userDivelog.id]" 
                                  diameter="20" 
                                  strokeWidth="3"
                          ></mat-spinner>
                          </button>
                      </div> -->

                      <svg class="divelog-svg-2">
                        <defs>
                            <!-- Ancien: width="200" height="250" (x2) -->
                            <pattern
                                [attr.id]="'texturePattern' + userDivelog.id"
                                patternUnits="userSpaceOnUse"
                                width="136" height="165"
                            >
                            <!-- IMG Texture carnet de plongée -->
                            <image
                                [attr.href]='getThemeImage(userDivelog.theme)'
                                x="0" y="0"
                                width="136" height="165"
                                preserveAspectRatio="xMidYMid slice"
                            />
                            </pattern>
                        </defs>

                        <!-- Couverture arrière -->
                        <path [attr.fill]="'url(#texturePattern' + userDivelog.id + ')'" d="M 137.895 177.3105 h -106.8555 c -2.541 0 -1.929 -1.944 -1.929 -4.335 V 22.3245 c 0 -2.3895 2.0655 -4.335 4.605 -4.335 h 106.122 c 4.161 0 7.542 3.183 7.542 7.101 v 143.655 c 0 5.5575 -2.799 8.5665 -9.486 8.5665 z"/>
                        <!-- Epaisseur pages bas -->
                        <path fill="#94c6d6" d="M 12.93 168.3945 c 0 2.3565 4.4655 4.338 7.2885 4.338 l 116.967 -0.0615 c 4.335 0 6.606 -1.92 6.606 -4.2765 l -0.3645 -25.905 H 12.93 v 25.905 z"/>
                        <!-- Epaisseur page droite -->
                        <path fill="#f5f5f5" d="M 137.784 156.303 s -1.917 8.5125 0.027 12.7755 c 2.259 4.947 6.201 3.7545 6.201 1.44 v -144.3495 c 0 -0.96 -0.549 -1.659 -1.125 -1.455 c -1.251 0.435 -3.501 0.45 -6.489 -2.751 l 1.386 134.34 z"/>
                        <!-- bordure-ombre 1ere de couverture (désactivé et première de couverture adaptée) -->
                        <!-- <path class="divelog-svg-path-primary-color-ombre" d="M 127.74 168.06 h -105.78 v -156.6 h 108.375 c 3.405 0 5.805 0.915 6.93 2.43 c 1.47 1.965 2.25 4.95 2.25 8.22 v 134.175 a 11.775 11.775 90 0 1 -11.775 11.775 z"/> -->
                        <!-- 1ere de couverture -->
                        <path class="divelog-svg-front-cover" [attr.fill]="'url(#texturePattern' + userDivelog.id + ')'" d="M125 167c7 1 13 0 13-6V21.855c0-7.11-4.65-10.38-10.38-10.38H25c-4.125 0-7.485 3.345-7.485 7.485V160c0 4.125 3.345 7.485 7.281 7.485H124.53Z"/>
                        <!-- Bande gauche -->
                        <path fill="#005887" d="M 28.0365 164.7255 l -0.048 -153.3855 h -10.752 s -2.217 -0.594 -3.696 0 c -2.6775 1.0845 -3.417 4.098 -3.417 9.015 v 140.1975 c 0.2205 9 0.2205 13.455 5.0205 14.94 c -2.88 -1.485 -1.8435 -7.6785 -1.065 -9.831 c 0.69 -1.9005 13.9575 -0.936 13.9575 -0.936 z"/>
                        <!-- 2 Trucs sans couleurs: -->
                        <path class="divelog-svg-trait" stroke-miterlimit="10" stroke-width="2" d="M 21.285 11.46 v 154.54"/>
                        <path fill="none" stroke="#424242" stroke-miterlimit="10" stroke-width="3" d="M 28.107 165.7995 l -9.831 0.1815 c -3.279 0 -4.401 3.333 -3.819 5.535 c 0.7305 2.781 3.759 3.234 4.5075 3.234 h 11.0055"/>
                    </svg>


                  </div>

              </div>
          </div>
      </div>
  </section>

  <!-- Loader/Spinner page -->
  <div class="spinner-container" *ngIf="isUserDivelogsLoading">
      <mat-spinner></mat-spinner>
  </div>

  <div class="pageContent-bottom-nav-decal"></div>
</div>


