@use 'assets/custom-theme' as *;
@use '@angular/material' as mat;

/* https://cssgradient.io/shades-of-blue/ */
:root {
    --primary-color: #0093E9; /* Aquamarine */
    --color: #ffffff;

    --green: #4CAF50;
    --red: #FF5252;

    --font-size-small: 0.875rem;   /* 14px */
    --font-size-base: 1rem;        /* 16px */
    --font-size-large: 1.25rem;    /* 20px */
    --font-size-heading: 2rem;     /* 32px */

}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Styles Composants Angular Material !
.light-theme {
    @include mat.all-component-themes($myapp-light-theme); // Applique les styles du thème clair
    --color: #ffffff;
    --colorContrast: #080808;
    --surface-grised: #00000008;
}
.dark-theme {
    @include mat.all-component-themes($myapp-dark-theme); // Applique les styles du thème sombre
    --color: #000000;
    --colorContrast: #f7f8f8;
    --surface-grised: #00000017;
}


body.light-theme {
    color: #333333 !important;
    background-image: map-get(map-get($myapp-light-theme, bg-color), default); 
}
body.dark-theme {
    color: #F5F5F5 !important;
    background-image: map-get(map-get($myapp-dark-theme, bg-color), default); 
}

body.light-theme .matSubMenu,
body.light-theme .navBottomMobile {
    background-color: map-get(map-get($myapp-light-theme, matMenu-bgColor), default); 
}
body.dark-theme .matSubMenu,
body.dark-theme .navBottomMobile {
    background-color: map-get(map-get($myapp-dark-theme, matMenu-bgColor), default);
}

// bg et box-shadow
body.light-theme .card, body.light-theme .surface {
    background-color: map-get(map-get($myapp-light-theme, bg-color), surfaces);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
body.dark-theme .card, body.dark-theme .surface {
    background-color: map-get(map-get($myapp-dark-theme, bg-color), surfaces);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

body.light-theme .border {
    border-color: map-get(map-get($myapp-light-theme, bg-color), border);
}
body.dark-theme .border {
    border-color: map-get(map-get($myapp-dark-theme, bg-color), border);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
html {
    height: auto !important;
}
body {
    height: 100%;
}
h1,h2,h3,h4,h5,h6, span, p  {
    user-select: none;
}
.mdc-text-field {
    background-color: var(--surface-grised);
}



/* PAS DE BACKGROUND WHITE AUTOCOMPLETE !!!!!!!!!! */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--colorContrast);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
}
// merci

.card {
    padding: 17px 20px;
    border-radius: 10px;
    width: 100%; // temporaire mobile
}
.surface {
    border-radius: 10px;
    width: 100%; // temporaire mobile
    position: relative;
}

.border {
    border: 1px solid;
}



button {
    // padding: 38px !important;
    color: inherit;
}
.bigButton {
    padding: 32px !important;
}

a {
    text-decoration: none;
    color:inherit;
}
li {
    list-style-type: none;
}


h1, h2, h3 {
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}


.pageContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    padding: 10px 20px;

    section {
        width: 100%;
    }
}
.modalContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    // padding: 10px 20px;

    section {
        width: 100%;
    }
}


// error

.title-button {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}


.btn-underlined {
    text-decoration: underline;
}

.loadingLine {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.iconLine {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.color-green {
    color: var(--green);
}
.color-red {
    color: var(--red);
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    min-height: 300px;
}






.cta-btn-primary {
    display: block; /* Rendre les liens comme des blocs */
    text-align: center; /* Centrer le texte à l'intérieur des boutons */
    padding: 10px 20px; /* Ajuster le padding */
    background-color: #009688; /* Couleur d'arrière-plan */
    color: var(--colorContrast); /* Couleur du texte */
    text-decoration: none; /* Enlever la décoration du texte */
    width: 100%; /* Faire en sorte que le bouton occupe toute la largeur de son conteneur */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la taille de l'élément */
}
.cta-btn-secondary {
    display: block; /* Rendre les liens comme des blocs */
    text-align: center; /* Centrer le texte à l'intérieur des boutons */
    padding: 10px 20px; /* Ajuster le padding */
    color: var(--colorContrast); /* Couleur du texte */
    text-decoration: none; /* Enlever la décoration du texte */
    width: 100%; /* Faire en sorte que le bouton occupe toute la largeur de son conteneur */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la taille de l'élément */
}

.mat-mdc-form-field-subscript-wrapper {
    height: 4px;
}

.matFieldInput {
    width: 100%;
  }

.relative {
    position: relative;
}

.noMargin {
    margin: 0px !important;
}
.marginTopBottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex1 {
    flex: 1;
}
.flex0 {
    flex: 0;
}


// Bouton pas Material
.custom-button {
    background: none;
    border: none;
    padding: 0 !important;
    margin: 0;
    width: 100%; /* facultatif */
    height: auto; /* facultatif */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer; /* optionnel, pour garder le comportement de "lien" */
}
.custom-button:focus {
    outline: none; /* Supprime le focus par défaut */
}
.custom-button:active {
    background-color: transparent; /* Évite l'effet "cliqué" */
}
.custom-button:hover {
    background-color: transparent; /* Évite l'effet "hover" de Material */
}

// Fix mat-select options derriere le modal:
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }


// sub Menu Material
// .matSubMenu {
//     background-color: red !important;
// }


.mat-internal-form-field>label {
    padding-left: 13px !important;
}



// ANIMATIONS
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}