/* https://cssgradient.io/shades-of-blue/ */
:root {
    --primary-color: #7FFFD4; /* Aquamarine */
    --background-color: #0a2351; /* Brewers Blue */

    --font-size-small: 0.875rem;   /* 14px */
    --font-size-base: 1rem;        /* 16px */
    --font-size-large: 1.25rem;    /* 20px */
    --font-size-heading: 2rem;     /* 32px */
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
html {
    height: auto !important;
}
body {
    height: 100%;
}


a {
    text-decoration: none;
    color:inherit;
}
li {
    list-style-type: none;
}


h1, h2, h3 {
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

p, span, a, input, button, select, textarea {
    font-family: 'Quicksand', sans-serif;
}
