
<div class="pageContent">

    <app-page-header [title]="('YOU_ARE' | translate )" matIcon="account_circle" />

    <!-- TODO form type user (Héritage backend), même si club pas la priorité (ouverture pour projet) -->
    <div>
    
        <!-- CHOIX Plongeur ou Club -->
        <span>{{ "DIVER" | translate }}</span>
        <span>{{ "DIVING_CLUB" | translate }}</span>

        <!-- Username / Clubname -->

        <!-- Avatar (listes ou custom, default diver.png) -->
    

        
        <!-- Validation de Form -->
        <a [routerLink]="['/first-login/step-two']" routerLinkActive="router-link-active" >
            <button mat-flat-button color="primary" class="cta-btn-primary">{{ "NEXT" | translate }}</button>
        </a> 
    
        <!-- SKIP (default diver#4242 & diver.png) -->
        <a [routerLink]="['/first-login/step-two']" routerLinkActive="router-link-active" >
            <button mat-flat-button color="accent" class="cta-btn-primary">{{ "SKIP" | translate }}</button>
        </a>
    </div>

</div>
