<p>first-login-2 works!</p>
<!-- SI PLONGEUR (reel première page) -->
<h1>Bienvenue sur votre carnet de plongée</h1>
<p>Personalisez votre expérience en complétant votre profil en 2-3 clics</p>


<!-- CHOIX Plongeur ou Club -->
<span>Plongeur</span>
<span>Club</span>

<!-- Retour -->
<!-- <a [routerLink]="['/first-login/step-two']" routerLinkActive="router-link-active" >
    <button mat-flat-button class="cta-btn-primary">Retour</button>
</a> -->

<!-- Validation de Form -->
<a [routerLink]="['/first-login/step-two']" routerLinkActive="router-link-active" >
    <button mat-flat-button class="cta-btn-primary">Suivant</button>
</a>

<!-- SKIP -->
<a [routerLink]="['/first-login/step-two']" routerLinkActive="router-link-active" >
    <button mat-flat-button class="cta-btn-primary">Skip</button>
</a>
