<nav class="navBottomMobile">

    <a 
        [routerLink]="['/user-profil']" 
        routerLinkActive="router-link-active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="navBottomMobile-a flex1"
        [ngClass]="{'router-link-active': isProfilRouteActive}" 
    >
        <div class="navBottomMobile-div">
            <mat-icon class="navBottomMobile-icon">
                account_circle
            </mat-icon>
        </div>
    </a>

    <mat-divider [vertical]="true"></mat-divider>

    <a 
        [routerLink]="['/user-divelog']" 
        routerLinkActive="router-link-active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="navBottomMobile-a flex1"
    >
        <div class="navBottomMobile-div">
            <mat-icon class="navBottomMobile-icon">
                menu_book
            </mat-icon>
        </div>
    </a>

    <mat-divider [vertical]="true"></mat-divider>

    <a 
        [routerLink]="['/social']" 
        routerLinkActive="router-link-active" 
        class="navBottomMobile-a flex1"
        [ngClass]="{'router-link-active': isSocialRouteActive}" 
    >
        <div class="navBottomMobile-div">
            <mat-icon class="navBottomMobile-icon">
                supervised_user_circle
            </mat-icon>
        </div>
    </a>

    <mat-divider [vertical]="true"></mat-divider>

    <!-- Bouton-onglet "actif" lorsque route "/account-settings" active (comme un routerLinkActive)  -->
    <button 
        [matMenuTriggerFor]="menu" 
        class="navBottomMobile-a flex1 custom-button"
        [ngClass]="{'router-link-active': isSettingsRouteActive}" 
    >
        <div class="flex1" style="height: 100%;">
            <div class="navBottomMobile-div">
                <mat-icon class="navBottomMobile-icon">
                    settings
                </mat-icon>
            </div>
        </div>
    </button>

    <!-- SubMenu (Settings) -->
    <mat-menu #menu="matMenu" class="matSubMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>{{ "LOGOUT" | translate }}</span>
        </button>
        <button mat-menu-item (click)="switchTheme()">
            <mat-icon>contrast</mat-icon>
            <span>{{ "THEME" | translate }}</span>
        </button>
        <button mat-menu-item (click)="switchLang()">
            <mat-icon>translate</mat-icon>
            <span>{{ "LANG" | translate }}</span>
        </button>
        <!-- Redirection route/page account-settings (vie privée, mentions légales, suppression compte, changement mdp, etc...) -->
        <button mat-menu-item (click)="navigateAccountSettings()">
            <mat-icon>manage_accounts</mat-icon>
            <span>{{ "ACCOUNT" | translate }}</span>
        </button>
    </mat-menu>

    
</nav>


