<!-- Bottom Nav Mobile  -->

<!-- Rouage: onClick mini menu (/profil, /deco, light/dark, langue) -->

<nav class="navBottomMobile">

    <a [routerLink]="['/user-profil']" routerLinkActive="router-link-active" class="navBottomMobile-div flex1" tabindex="0">
        <div class="">
            <mat-icon class="navBottomMobile-icon">
                menu_book
            </mat-icon>
        </div>
    </a>

    <a [routerLink]="['/user-profil']" routerLinkActive="router-link-active" class="navBottomMobile-div flex1" tabindex="1">
        <div class="navBottomMobile-div flex1">
            <mat-icon class="navBottomMobile-icon">
                menu_book
            </mat-icon>
        </div>
    </a>

    <!--  La méthode logout() qui appelle le authService pour logout et suppr le accesstoken  -->
    <button 
        [routerLink]="['/user-settings']" 
        routerLinkActive="router-link-active" 
        [matMenuTriggerFor]="menu" 
        class="navBottomMobile-div flex1 custom-button"
        tabindex="2"
    >
        <div class="navBottomMobile-div flex1">
            <mat-icon class="navBottomMobile-icon">
                settings
            </mat-icon>
        </div>
    </button>

    <mat-menu #menu="matMenu" class="matSubMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
        <button mat-menu-item>light/dark</button>
        <button mat-menu-item>lang</button>
    </mat-menu>

    
</nav>


