
:host{
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
}
:host:hover {
    opacity: 0.8;
    // transform: scale(1.02);
}


.section-top {
    position: relative;
    width: 100%; 
    height: 90px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.section-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.float-editBtn {
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 5px;
    box-sizing: content-box;
    background-color: var(--primary-color);
    border-radius: 5px;
}


.avatar-container {
    position: absolute;
    z-index: 99999999;
    left: 50%;
    transform: translate(-50%, -65%);
    height: 80px;
    width: 80px;
    border: 4px solid white; // TODO "line bg" & "border-colors" black/light
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: cornsilk;
}
.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}



.middle-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white; // TODO "line bg" & "border-colors" black/light
}
.section-bottom {
    height: 90px;
    display: flex;
    flex-direction: column;
}


.section-bottom-line {
    // flex: 0; pas besoin
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    gap: 15vw;

    padding-top: 7px;
    padding-bottom: 0px;
}

.section-bottom-line-left {
    width: 50%;
    text-align: center;
}
.country-flag-png {
    border-radius: 6px;
}

.section-bottom-line-right {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    text-align: center;
}
.dive-value {
    color: var(--green);
    font-weight: 600;
    letter-spacing: 1px;
}
.dive-label {
    opacity: 0.7;
    font-size: 90%;
}



.section-bottom-pseudo-container {
    flex: 1;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;

    // Pour ajuster la hauteur:
    padding-bottom: 15px;
}
.section-bottom-pseudo {
    // color: var(--primary-color);
    font-weight: 600;
    font-size: 140%;
    letter-spacing: 1px;
}