<!-- INITIALIZED card -->
<div class="surface surface-overflow-hidden matSubMenu inner-container border" *ngIf="user">

    <div class="section-top">
        <img [src]="user.bannerUrl" alt="user banner" />
    </div>

    <div class="avatar-container">
        <img [src]="user.avatarUrl" alt="{{ user.username }}'s avatar" />
    </div>

    <div class="middle-line"></div>

    <div class="section-bottom">
        <!-- ligne gauche/droite -->
        <div class="section-bottom-line">
            <div class="section-bottom-line-left">
                <img 
                    *ngIf="flagSvgUrl"
                    [src]="flagSvgUrl" 
                    [alt]="country?.name" 
                    width="24" 
                    height="24"
                    [matTooltip]="country?.name"
                    class="country-flag-png"
                >
            </div>
            <div class="section-bottom-line-right">
                <span class="dive-value">{{ user.initialDivesCount }}</span>
                <span class="dive-label">{{ "DIVES" | translate }}</span>
            </div>
        </div>

        <!-- Pseudo -->
        <div class="section-bottom-pseudo-container">
            <span class="section-bottom-pseudo">{{ user.username }} </span>
        </div>
        
    </div>

</div>

<!-- SKELETON card -->
<div class="surface surface-overflow-hidden matSubMenu inner-container border" *ngIf="!user">

    <div class="section-top">
        <ngx-skeleton-loader
            class="widthInherit"
            [theme]="{
                width: '100%',
                'border-radius': '0',
                height: '-webkit-fill-available',
                'margin-bottom': '0px',
            }"
        ></ngx-skeleton-loader>
    </div>

    <div class="avatar-container">
        <ngx-skeleton-loader
        appearance="circle"
        [theme]="{ width: '80px', height: '80px' }"
        >
        </ngx-skeleton-loader>
    </div>

    <div class="middle-line"></div>

    <div class="section-bottom">
        <!-- ligne gauche/droite -->
        <div class="section-bottom-line">
            <div class="section-bottom-line-left">
                <ngx-skeleton-loader
                    [theme]="{
                    width: '30px',
                    'border-radius': '5px',
                    height: '22px',
                    'margin-bottom': '10px'
                    }"
                ></ngx-skeleton-loader>
            </div>
            <div class="section-bottom-line-right">
                <ngx-skeleton-loader
                    [theme]="{
                    width: '50px',
                    'border-radius': '5px',
                    height: '18px',
                    'margin-bottom': '10px'
                    }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                    class="nbrDivesLabelSkeletonFix"
                    [theme]="{
                    width: '70px',
                    'border-radius': '5px',
                    height: '15px',
                    'margin-bottom': '10px'
                    }"
                ></ngx-skeleton-loader>
            </div>
        </div>

        <!-- Pseudo -->
        <div class="section-bottom-pseudo-container">
            <ngx-skeleton-loader
                [theme]="{
                width: '100px',
                'border-radius': '5px',
                height: '25px',
                }"
            ></ngx-skeleton-loader>
        </div>
        
    </div>

</div>

