<!-- <div> -->

    <!-- click sur la card: afficher le btn edit en haut à droite -->
    <div class="surface matSubMenu inner-container">

        <div class="section-top">
            <!-- TODO img dynamique -->
            <img src="assets/images/todelete/default-banner-15.webp" alt="user banner" />
        </div>

        <div class="avatar-container">
            <!-- TODO img dynamique -->
            <img src="assets/images/todelete/profil-picture-default-9.png" alt="user avatar" />
        </div>

        <div class="middle-line"></div>

        <div class="section-bottom">
            <!-- ligne gauche/droite -->
            <div class="section-bottom-line">
                <span>French</span>
                <div class="section-bottom-line-right">
                    <span class="dive-value">206</span>
                    <span class="dive-label">Dives</span>
                </div>
            </div>

            <!-- Pseudo -->
            <div class="section-bottom-pseudo-container">
                <span class="section-bottom-pseudo">{{ user?.username }} </span>
            </div>
            
        </div>


    </div>


<!-- </div> -->
