<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<form
    class="modalContent modal-ref-content"
    [formGroup]="addDivelogForm" 
    *ngIf="!isLoading"
    (ngSubmit)="onSubmit()" 
>

  <h2><span class="title-new">{{ 'NEW' | translate }} </span>{{ "ADD_DIVELOG_FORM_TITLE" | translate }}&nbsp;:</h2>

  <section>

    <!-- Titre du carnet  -->
    <mat-form-field appearance="outline" class="matFieldInput">
      <mat-label>{{ "TITLE_LABEL" | translate }}</mat-label>
      <input 
        matInput 
        formControlName="title" 
        [placeholder]="('DIVELOG_TITLE_PLACEHOLDER' | translate:{year: currentYear})"
      >
    </mat-form-field>

    <!-- Description du carnet (optionnel) -->
    <mat-form-field appearance="outline">
      <mat-label>{{ "DESCRIPTION_LABEL" | translate }}</mat-label>
      <textarea 
        matInput 
        [placeholder]="('' | translate)"
        formControlName="description"
        rows="3"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="10"
        style="resize: none;">
      </textarea>
    </mat-form-field>

    <!-- Thème du carnet (couleur d'illustration) -->
    <div class="theme-selector">
      <label class="mat-label">{{ 'COVER_IMAGE_LABEL' | translate }}</label>
      <div class="theme-options">
        <div
          *ngFor="let t of themes"
          class="theme-option"
          [class.selectedCover]="addDivelogForm.value.theme === t.id"
          (click)="selectTheme(t.id)"
        >
          <img [src]="t.imageUrlThumnail" [alt]="t.id" class="theme-thumbnail"/>
        </div>
      </div>
    </div>

  </section>

  <button 
    mat-flat-button 
    color="primary"
    class="cta-btn-primary bigButton" 
    type="submit" 
    [disabled]="addDivelogForm.invalid"
  >
    <span>{{ "ADD" | translate }}</span>
  </button>

</form>
 

<!-- Loader/Spinner page -->
<div class="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>


