
form section {
    width: 100%;
    gap: 8px;
    display: inline-flex;
    flex-direction: column;
}
form section mat-form-field {
    width: 100%;
}

.modal-ref-content {
    
  .title-new {
    color: var(--primary-color);
    margin-right: 2px;
  }
}




.theme-selector {
  overflow: hidden;
}

.theme-options {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 5px;
  margin: 10px auto;
  justify-content: space-evenly;

  // ScrollBar Firefox (casse les autres):
  // scrollbar-width: thin;          /* peut être auto, thin, none */
  // scrollbar-color: var(--primary-color) #0000006b;     /* thumb, track */
  

  .theme-thumbnail {
    // box-sizing: content-box;
    width: 60px;
    border-radius: 5px;
  }
}

.theme-option.selectedCover {
  position: relative;
  transition: all 0.5s ease;

  .theme-thumbnail {
    border: 1px solid var(--primary-color);
    padding: 2px;
  }
}
.theme-option.selectedCover:after {
  color: black;
  content: "check";                /* ligature Material Icons */
  font-family: 'Material Icons';   /* police d’icônes */
  position: absolute;
  right: 3px;
  bottom: 7px;
  border-radius: 3px;
  background-color: var(--primary-color);
  width: 16px;
  height: 16px;
  /* active les ligatures */
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  opacity: 0;
  animation: fade-in-check 0.5s 0.2s ease forwards;
}
@keyframes fade-in-check {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  90% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ScrollBar Chrome, Edge, Safari */
.theme-options::-webkit-scrollbar {
  height: 4px;                    /* hauteur de la scrollbar horizontale */
}
.theme-options::-webkit-scrollbar-track {
  background: #0000006b;               /* couleur de fond sous le thumb */
}
.theme-options::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);         /* couleur du “curseur” */
  border-radius: 4px;             /* arrondir les coins */
}
