<div class="pageContent">

    <app-page-header 
        [title]='("MENTIONS_LEGAL" | translate)' 
        matIcon="account_balance" 
        [colorTheme]="true"
        class="fadeInNav"
        [class.fadeOutNav]="isAnimatingFadeOut"
    />

    <span>Editeur du site: Basile KUNTZ</span>
    <span>Email de contact: <a href="mailto:basile08@hotmail.fr" style="text-decoration: underline;">basile08&#64;hotmail.fr</a></span>

    <span>Hébergement: OVH</span>
    <span>Adresse de l'hébergeur: 2 rue Kellermann - 59100 Roubaix - France</span>
    <span>Téléphone de l'hébergeur: 1007</span>

    <h2>Données personnelles (RGPD)</h2>
    <p>
        Responsable de traitement
        Contact DPO / RGPD : <a href="mailto:basile08@hotmail.fr" style="text-decoration: underline;">basile08&#64;hotmail.fr</a>
    </p>
    <p>
        Finalités
        Les données recueillies via les formulaires de contact, d’inscription et d’utilisation du site sont traitées pour :

        Gérer votre compte et vos accès

        Vous informer des mises à jour, nouveautés ou offres commerciales

        Améliorer la qualité du service et analyser l’utilisation du site
    </p>
    <p>
        Droits des personnes
        Conformément au RGPD, vous disposez d’un droit d’accès, de rectification, d’effacement, de limitation, d’opposition et de portabilité de vos données.
        Pour exercer ces droits, contactez : <a href="mailto:basile08@hotmail.fr" style="text-decoration: underline;">basile08&#64;hotmail.fr</a>.
    </p>

    <p>Le site utilise des cookies pour assurer le bon fonctionnement du site (cookies techniques)</p>

    <div class="pageContent-bottom-nav-decal"></div>

</div>